
#reception {
    position: relative;
    top: 5rem;
    padding: 0 2rem;
    margin: auto;
    font-size: 1rem;
    text-align: right;
 }
@media(max-width: 800px) {
    #reception {
        width: calc(100% - 4rem);
    }
}
@media(min-width: 801px) {
    #reception {
        width: 60%;
        max-width: 32rem;
        border: 1px solid transparent;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
    }
}
#nom_d_utilisateur {
    font-size: 1.2rem;
    font-weight: bolder;
}
#message_de_bienvenu {
    margin-bottom: 2rem;
}
#affiche_programme {
    position: relative;
    height: 2rem;
    line-height: 2rem;
    background-color: #ccc;
    font-weight: bolder;
    text-align: center;
    border-radius: 0.5rem;
}
#affiche_programme a {
    display: block;
    text-decoration: none;
    width: 100%;
}
#affiche_programme:active {
    background-color: #aaa;
}