
#accueil {
}
#reception {
    font-size: 1rem;
    text-align: right;
    padding-right: 3rem;
 }
#nom_d_utilisateur {
    font-size: 1.2rem;
    font-weight: bolder;
}
#affiche_programme {
    position: relative;
    width: 16rem;
    padding: 1rem;
    background-color: #ccc;
    font-weight: bolder;
    border-radius: 0.5rem;
    float: right;
    right: -1rem;
}
#affiche_programme a {
    display: block;
    text-decoration: none;
    width: 100%;
}
#affiche_programme:active {
    background-color: #aaa;
}