
#reception {
    display: none;
    padding: 0.125rem 0;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: justify;
    max-width: 45rem;
 }
#nom_d_utilisateur {
    font-size: 1.2rem;
    font-weight: bolder;
}
#message_de_bienvenu { margin-bottom: 2rem; }
#affiche_programme {
    position: relative;
    height: 2rem;
    line-height: 2rem;
    background-color: #ccc;
    font-weight: bolder;
    text-align: center;
    border-radius: 0.5rem;
}
#affiche_programme a {
    display: block;
    text-decoration: none;
    width: 100%;
}
#affiche_programme:active { background-color: #aaa; }

@media(orientation: portrait) {
    #reception { width: calc(100% - 1rem); }
    #reception_content { 
        padding: 2rem 1rem; 
    }
}
@media(orientation: landscape) {
    #reception {
        width: calc(100% - 4rem); 
        border-top: 4px solid #aaa;
        border-bottom: 4px solid #aaa;
    }
    #reception_content { 
        padding: 3.5rem 8rem 4.5rem; 
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        background-color: #eee;
    }
}