
#table_parlante_container {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}
#apprentissage_foot {
    height: 2rem;
}
#apprentissage_dialogue_btn {
    border-radius: 0.5rem;
}