
#table_parlante_container {
    position: absolute;
    top: 1rem;
    margin: 0;
    padding: 0;
    height: calc(100% - 2rem);
    width: 100%;
    overflow: auto;
}
#contenu_par_defaut_du_tableau {
    position: absolute;
    padding: 0;
    margin: 0;
    color: rgba(100, 100, 100, 0.25);
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    top: calc(50% - 1rem);
    transform: translateY(-50%);
}
#apprentissage_head span {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
    color: cornflowerblue;
    cursor: pointer;
}
#table_alphabet_apprentissage {
    height: 75%;
    max-height: 45rem;
}
#table_alphabet_apprentissage td {
    font-size: 2.5rem;
}
#apprentissage_note {   
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: auto;
}
.notification_titre { margin: 0; }
#apprentissage_note h3 { margin: 0; }
#apprentissage_container .table_parlante td { 
    border: 1px solid transparent; 
}
#apprentissage_note p { margin: 0.25rem 0; }
#texte {
    position: absolute;
    width: calc(100% - 2rem);
    max-width: 25rem;
    min-height: 10rem;
    margin: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    color: #444;
    font-size: 5vh;
    font-weight: bold;
    text-align: right;
}
.notification h3 { margin: 0; padding: 0; }
#redirige_sur_exercice { cursor: pointer; }
#apprentissage_dialogue_btns { 
    font-weight: bold; 
    background-color: #ddd; 
}
#apprentissage_dialogue_btns > p { position: relative; }

#pre_exercice_resultat_container {
    position: relative;
    height: 7.5rem;
    width: max-content;
    max-width: 90%;
    margin: auto;
    padding: 0.5rem 1rem;
    top: 20%;
    border: 1px solid #aaa;
}
#pre_exercice_resultat_container > div { display: inline-block; }
#pre_exercice_resultat td { min-width: 1.5rem; height: 2rem; }
#cercles_des_partis, #carres_pour_exercices { display: inline-block; }
#cercles_des_partis, #carres_pour_exercices { display: inline-block; }
.titre_de_parti, .cercles_des_partis { 
    display: inline-block; 
    height: 3rem;
    font-weight: bold; 
    cursor: pointer;
}
#table_pre_apprentissage {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    width: calc(100% - 2.25rem);
    max-height: 80%;
    max-width: 45rem;
    margin: auto;
    overflow: auto;
}
.pre_apprentissage_tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    padding: 0.125rem;
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    color: #666;
    box-sizing: border-box;
}
.traducteur_tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    margin: 0.125rem 0;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    color: #666;
    box-sizing: border-box;
}
.traducteur_tr:nth-child(2) { font-size: 2rem; }
#tr_actif {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #444;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}
#tr_actif .pre_apprentissage_tr {
    padding: 2rem 0.5rem;
    background-color: #444;
    width: 100%;
}
#tr_actif .pre_apprentissage_td {
    width: 11%;
    min-width: 1.5rem;
    height: 3rem;
    line-height: 2rem;
    transform: scale(1.25);
    box-sizing: border-box;
}
.pre_apprentissage_td {
    position: relative;
    width: 11%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    transition: 0.25s;
    cursor: pointer;
}
.pre_td {
    font-weight: bold;
    color: yellow;
}
#traducteur {
    position: absolute;
    height: 1rem;
    width: 100%;
    top: 100%;
    margin-top: 0;
    background-color: #444;
    overflow: hidden;
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: 1;
}
#manche_traducteur {
    height: 0.5rem;
    width: 2rem;
    margin: 0 auto 1rem auto;
    line-height: 0.125rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}
#traducteur .pre_apprentissage_tr { margin: 0; }
#panneaux { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
    overflow: visible;
}
#panneaux > div { font-size: 1.5rem; }
#submit_panneau { text-align: center; font-size: 1rem; }
#cercles_des_partis_cadre { position: relative; }
#cercles_des_partis_cadre span:hover, #pre_revision_btn:hover {
    box-shadow: 0 0 1rem #444;
    background-color: #fff;
    color: black;
}
#pre_revision_btn {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    height: 2rem;
    width: 8rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
#pre_revision_btn:active { box-shadow: none; }
#caracteres_container { 
    width: max-content;
    margin: auto;
    top: 22rem; 
}
#caracteres_container span:hover { background-color: #ddd; }
#caracteres_cadre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    height: 0;
    width: 20rem;
    padding: 0 0.5rem;
    border-bottom: 0.5rem solid #aaa;
    overflow: hidden;
}
#caracteres_cadre > div {
    background-color: #eee;
    position: relative;
    height: 14rem;
    padding: 1rem;
    display: block;
    border-radius: 0.5rem;
    background-color: #eee;
}
#caracteres_cadre span {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.125rem;
    min-width: 1.125rem;
    height: 2rem;
    line-height: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    vertical-align: middle;
    box-shadow: 0 0 0.25rem #aaa;
    cursor: pointer;
}
#panneau_submit_btn_container {
    position: relative;
    height: 3rem;
    width: max-content;
    margin: 0 auto 1rem;
    background-color: #fff;
    box-shadow: 0 0 0.25rem #aaa;
    border-radius: 0.5rem;
    overflow: hidden;
}
#panneau_submit_btn_container > button {
    padding: 1rem;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

#exercice_container, #revision_container { display: none; height: 100%; }
#pre_exercice {
    display: none;
    position: relative;
    background-color: #ddd;
    top: 0;
    height: calc(100% - 2rem);
    width: 100%;
    max-width: 40rem;
    margin: auto;
    padding-top: 2rem;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    transform: scaleY(0.75);
    opacity: 0;
}
.fermeture_pre {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.fermeture_pre:hover {
    background-color: #bbb;
    font-weight: bold;
}
#exercice_body td:hover { 
    background-color: #999;
}
#exercice_question_btn:active, #exercice_repetition_btn:active { box-shadow: none; }
#exercice_repetition_btn { display: none; }
#afficheur_de_resultat {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: cornflowerblue;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.125rem #aaa;
    cursor: pointer;
}

#pre_resultat_titre {
    position: absolute;
    width: 20rem;
    margin: 1rem 4rem;
}
#pre_exercice_resultat {
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border-bottom: 0.25rem solid #aaa;
    overflow: hidden;
}
#pre_exercice_resultat h3 {
    margin: 0;
}
#resultat, #legende #resultat_diagram {
    background-color: #eee;
    height: calc(100% - 4rem);
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
}
#resultat_container table {
    width: 100%;
    border-color: transparent;
}
#resultat_container table th {
    border-color: transparent;
}
#pre_exercice_resultat td:not(#legende_table td:first-child, #resultat_entete td) {
    text-align: center;
    border-color: #aaa;
}
#tfoot_td1 { padding-right: 1rem; font-weight: bold; }
#tfoot_td2 { border: 4px solid #aaa; background-color: #ccc; font-weight: bold; }
#resultat_container, #resultat_diagram {
    margin: 2%;
}
#libelles {
    height: 2rem;
    line-height: 2rem;
}
#libelles > div {
    width: 8.6rem;
    margin: auto;
}
#libelles span {
    padding: 0.125rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}
#legende {
    margin: 0.5rem auto;
    padding: 1rem;
    background-color: #eee;
}
#legende table {
    width: 100%;
}
#resultat_container table td {
    border: none;
    background-color: #fff;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
#legende table td:first-child {
    text-align: right;
}
#legende table td:last-child {
    text-align: left;
}

#pre_exercice_resultat_body { 
    border: 1px solid transparent;
    border-top-color: #aaa;
    position: absolute;
    top: 3rem;
    width: calc(100% - 3rem); 
    height: calc(100% - 3rem);
    overflow: auto; 
}
#pre_exercice_resultat_foot { width: 1.5rem; }
#pre_exercice_resultat h3 { position: absolute; width: 100%; }
#table_syllabe_apprentissage td:hover {background-color: rgba(85,85,85);}
#apprentissage_dialogue_btn { 
    font-weight: bold;
    color: black;
    text-align: center;
}
#evaluation_btn { z-index: 0; }
#submit_panneau {
    position: relative;
    width: 12rem;
    margin: auto;
    padding: 0.125rem 1rem;
    top: 0.5rem;
    background-color: yellow;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    cursor: pointer;
}

#revision_dialogue_btn { width: 12rem; }
#submit_panneau:hover { background-color: #aaa; }

.cercle {
    position: relative;
    display: inline-block;
}
#resume_de_alphabet_resultat {
    position: relative;
    width: 75%;
    margin: auto;
}

@media(orientation: portrait) {
    #panneaux { bottom: 4.75rem; }
}
@media(orientation: landscape) {
    #panneaux { bottom: 5.75rem; }
}