
#table_parlante_container {
    position: absolute;
    top: 1rem;
    margin: 0;
    padding: 0;
    height: calc(100% - 2rem);
    width: 100%;
    overflow: auto;
}
#apprentissage_head { 
    border-radius: 0.25rem 0.25rem 0 0;
}
#pre_apprentissage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    position: absolute;
    height: 4rem;
    width: calc(100% - 2px);
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #aaa;
}
.partis_de_lesson {
    margin: 0;
    width: calc(50% - 3px);
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 1;
}
#parti_2 {
    height: 4rem;
    line-height: 4rem;
}
.titre_de_parti, #cercles_des_partis { display: inline-block; }
.titre_de_parti { height: 4rem; line-height: 4rem; }
.partis_de_lesson:first-child {
    border-left: 1px solid #666;
} 
#panneaux { position: relative; height: 0; overflow: hidden; }
#cercles_des_partis { min-width: 4rem; }
#cercles_des_partis_cadre { position: relative; }
#cercles_des_partis_cadre > span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #666;
    border-radius: 2rem;
    margin: 0.5rem;
    color: #666;
    cursor: pointer;
}
#cercles_des_partis_cadre span:hover {
    box-shadow: 0 0 1rem #444;
    background-color: #fff;
    color: black;
}
#consonnes_cadre {
    position: absolute;
    top: -10rem;
    height: 10rem;
    margin: 0.125rem 1rem;
    padding: 1rem;
    display: block;
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    background-color: #fff;
}
#consonnes_cadre span {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #aaa;
    cursor: pointer;
}
#consonnes_cadre span:hover { background-color: #aaa; }
#apprentissage_foot { 
    padding: 0;
    bottom: -0.5rem;
    height: 4.5rem;
    background-color: #aaa;
    border-radius: 0 0 0.5rem 0.5rem;
}
#apprentissage_dialogue_btn .btns:nth-child(1) { right: 0; }
#apprentissage_dialogue_btn .btns:nth-child(2) { left: 0; }
#submit_panneau {
    position: absolute;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0.125rem 1rem;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #aaa;
}
#submit_panneau:hover { background-color: #aaa; }