
#tableau_noir {
    position: absolute;
    width: calc(100vw - 2rem);
    margin: 1rem;
    padding: 1rem;
    height: calc(100vh - 2rem);
    top: 0;
    left: 0;
    background-color: #000;
    border-style: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
    direction: rtl;
}
#tableau_form {
    z-index: 0;
}
.outils {
    position: absolute;
    width: 100vw;
    z-index: 1000;
}

.outils .outil:not(#parametres_tableau) {display:none; }