
.actif {
    font-weight: bold;
    background-color: yellow;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
}
.active, .apprises, .a_apprendre {
    border: 1px solid transparent;
    padding: 0 16px;
    margin: 1px 0;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
}
.active {
    border-radius:  6px;
    background-color: yellow;
    box-shadow: 0 0 16px yellow;
}
.active:active {
    background-color: #FFF000;
    box-shadow: 0 0 1px yellow;
}
.apprises {
    border: 1px  solid #ccc;
    border-radius: 6px ;
    color: yellow;
    box-shadow: 0 0 16px #fff;
    text-shadow: 0 0 16px #000;
} 
.apprises:active {
    border: 1px  solid #ddd;
    box-shadow: 0 0 1px #fff;
    text-shadow: 0 0 1px #000;
}
.apprises a {
    color: yellow; 
}
.a_apprendre {
    border-radius: 6px;
    background-color: #bbb;
    color: #999;
}
.a_apprendre a {
    color: #aaa;
}
.bulle {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    height: 48px;
    width: 48px;
    line-height: 48px;
    margin: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 8px #ccc;
    border-radius: 48px;
    transition: 0.4s;
}

.centerflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centergrid{ margin: auto; }
.centertransform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerH{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerV{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkbox {
    position: relative;
    display: inline-block;
    background-color: #eee;
    top: 0;
    height: 216px;
    min-width: 72px;
}
.checkbox_titre{
    background-color: #bbb;
    width: 100%;
    height: 24px;
    padding-right: 6px;
    box-sizing: border-box;
}
.check_btn_container {
    position: relative;
    background-color: #eee;
    height: 186px;
    padding-right: 8px;
    overflow: auto
}
.check_consonnes {
    position: relative;
    border: 1px solid transparent; 
    border-right-color: #ddd;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #eee;
    height: 170px;
}
.check_btn{
    display: block;
    min-width: 36px;
    margin: 0
}

.centercell{ margin: auto; }
.centrer_parfait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clavier_container{
    position: absolute;
    height: 25vh;
    width: 100%;
    margin: auto;
    bottom: 0;
    padding: 16px 8px 8px;
    background-color: #666;
    border: 1px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
}
.clicker{
    transform-origin: 50% 0;
    animation: animate_hand 1.5s 1;
}
.container {
    position: fixed;
    top: 8px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 16px);
    background-color: #eee;
}
.course {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 96px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    border: 4px solid #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px #444;
    background-color: #fff;
    overflow: auto;
    opacity: 1;
    z-index: 0;
    font-weight: bold;
    transition: 0.6s;
}
.course_body {
    margin: 16px 0 4px 0;
    height: 45vh;
    overflow: auto;
}
.course_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}
.course_head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: #666;
    padding: 0 16px;
    width: 100%;
    height: 32px;
    margin: 0;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #444;
}
.course_head div {
    padding: 0 4px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 4px 8px #000;
    border: 1px solid transparent;
    border-radius: 4px;
}
.course_head div label {
    padding: 0 8px;
    border-radius: 5px;
    font-size: 14px;
}
.course_head div span:last-child {
    padding: 0 4px;
    margin: 0 4px;
    font-size: 18px;
}

@media screen and (min-width: 801px) {
    .container, .course, .exercices, .evaluation {
        width: 80vw;
    }
}
@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
    }
    .course, .exercices, .evaluation {
        width: 90vw;
        left: 5vw;
    }
}

.error_message {
    color: rgba(255,0,0,0.5);
}
.evaluation_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}
.exercices {}
.exercices_entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #aaa;
    padding: 0 16px;
    width: 100%;
    height: 32px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #666;
}
.exercices_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}

.fermeture {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.fermeture:hover {
    background-color: #aaa;
    font-weight: bold;
}
.fermeture:active {
    background-color: #aaa;
}
.fixe {
    position: fixed;
}
.fond_blanc_casse{;
    background-color: rgba(0,0,0,0.5);
}
.flowerblue{;
    background-color: cornflowerblue;
}
.fond_noir_clair{
    background-color: #999;
}
.fond_orange {
    background-color: orange;
}

.hand{
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    top: 112px;
    left: 50%;
    font-size: 80px;
    text-shadow: 16px 16px 8px #666;
}
.hover_anim:hover {
    transform: scale(1.25);
    color: #000;
    background-color: #aaa;
    transition: 0.1s;
}

.left {
    float: left;
}
.lesson_active {
    background-color: yellow;
    box-shadow: 0 0 16px yellow;
}
.lesson_active:active {
    background-color: #FFF000;
}
.lessons_apprises {
    border: 1px solid transparent;
    box-shadow: 0 0 16px #ccc;
    text-shadow: 0 0 8px #000;
}
.lessons_apprises:active {
    background-color: #ddd;
}
.lessons_apprises a {
    color: yellow;
}
.lessons_a_apprendre {
    background-color: #ccc;
}
.lessons_a_apprendre a {
    color: #aaa;
}
.lesson_progess_bar{
}
.lesson_progress_bonne_reponse_bar{
    
}
.lesson_progress_question_bar{
    
}

.lesson_pied {}
.lesson_title {
    position: relative;
    padding: 0 16px;
    margin-bottom: 0 0 16px 0;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom-color: #666;
}

.matiere {
    position: relative;
}

.nasalisations_btn_container input, .nasalisations_btn_container label{
    display: inline-block;
    vertical-align: middle;
}
.nasalisations_btn_container label{
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    line-height: 8px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}
.nav_fleches_container {
    position: absolute;
    border: 2px solid transparent;
    border-top-color: #ccc;
    padding-top: 8px;
    height: 32px;
    width: 90%;
    left: 5%;
    bottom: 0;
}
.nav_fleches_container span {
    position: relative;
    width: 100px;
    height: 24px;
    border: 1px solid transparent;
    box-shadow: 0 0 32px #ccc;
    border-radius: 12px;
    text-align: center;
    transition: 0.15s;
}
.nav_fleches_container span:active { box-shadow: 0 0 1px #ccc; }
.nav_fleches_container span:nth-child(1) {
    float: right;
}
.nav_fleches_container span:nth-child(2) {
    float: left;
}

.opaque {
    animation: opacir0.6s 1;
}
.ombrage {
    box-shadow: 0 4px 43px #000;
}

.page_body{
    position: absolute;
    margin: 0;
    width: 100%;
    left: 50%;
    top: 72px;
    transform: translateX(-50%);
    box-sizing: border-box;
    height: calc(100% - 80px);
    z-index: 0;
    overflow: auto;
}
.page_foot {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.page_head {
    position: absolute;
    margin: 0;
    height: 72px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 5;
}
.parentgrid{ display: grid; }
.parentcell{
    display: table-cell;
    vertical-align: middle;
}
.phases{
}
.phases_container{
    position: absolute;
    top: 64px;
    width: 80%;
    height: 60vh;
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
}
.phases_container h2, .phases_container h4 {
    padding: 0 16px;
}
.phases_container h2 {
    height: 48px;
    width: 100%;
    line-height: 48px;
    border: 1px solid transparent;
    border-bottom: 4px  solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
.phases ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    left: 10%;
}
.phases ul li{
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0 16px;
    margin: 1px 0;
    box-sizing: border-box;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}
.ponctuations input, .ponctuations label{
    display: inline-block;
    vertical-align: middle;
}
.ponctuations input{
}
.ponctuations label{
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}
.pratique_tr_actif {
    color: orange;
    font-weight: bold;
}
.profile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    position: relative;
    margin: 0;
}
.profile_menu_head{
    height: 32px;
    width: 95%;
    line-height: 32px;
    text-align: right;
    margin: 0;
    padding: 0 8px;
    background-color: #eee;
    border: 1px solid transparent;
    border-bottom-color: #fff;
    border-radius: 6px;
}
.profile_menu_head a {
    text-decoration: none;
}
.profile_menu_body{
}
.progress_bar{
    position: relative;
    margin: 0;
    height: 6px;
    width: calc(100% - 2px);
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 0;
    transition: 1s;
}
.progress_bonne_reponse_bar, .progress_question_bar{
    display: block;
    position: absolute;
    height: 100%;
    border-radius: 4px;
    transition: 1s;
}
.progress_bonne_reponse_bar{ background-color: orange; }
.progress_question_bar{ background-color: #bbb; }

.right {
    float: right;
}

.shadow{ box-shadow: 0 8px 8px #666; }

.table_parlante, .table_muette {
    position: relative;
    padding: 8px;
    width: 100%;
}
.table_parlante tr, .table_muette tr {
    position: relative;
    width: 100%;
}
.table_parlante td, .table_muette td {
    position: relative;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
}
.transparent {
    animation: transperer;
}
.wraped {
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
.wraped li:last-child {
    border-bottom-color: transparent;
}
.wraped li {
    border-bottom-color: #ccc;
}
.yellow {
    background-color: yellow;
}

@keyframes animate_hand {
    0%{ text-shadow: 16px 16px 16px #666; transform: scale(1); }
    20%{ text-shadow: 0 0 0 #666; transform: scale(0.75); }
    40%{ text-shadow: 0 0 0 #666; transform: scale(0.75); }
    60%{ text-shadow: 8px 8px 8px #666; transform: scale(0.85); }
    80%{ text-shadow: 16px 16px 16px #666; transform: scale(1); }
    100%{ text-shadow: 16px 16px 16px #666; transform: scale(1); }
}
@keyframes descendre_doucement {
    from {
        line-height: 16px;
        opacity: 0;
        font-size: 0;
    }
    top {
        line-height: 56px;
        opacity: 1;
        font-size: 20px;
    }
}
@keyframes opacir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes transperer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}