:root{
    
    --borderPrimaire: 1px solid #aaa;
    --borderSecondaire: 1px solid cornflowerblue;
    --borderTertiaire: 1px solid yellow;
    
    --border_a: 1px solid #aaa;
    --border_b: 1px solid #bbb;
    --border_c: 1px solid #ccc;
    --border_d: 1px solid #ddd;
    --border_e: 1px solid #eee;
    --border_f: 1px solid #fff;
    --border_6: 1px solid #666;
    --border_flowerBlue: 1px solid cornflowerblue;
    --border_yellow: 1px solid yellow;
    
    --couleurPrimaire: cornflowerblue;
    --couleurSecondaire: yellow;
    --couleurTertiaire: #ddd;
    --couleurQuaternaire: #aaa;
    --couleurNeutre: #fff;

    --couleur_flowerBlue: cornflowerblue;
    --couleur_yellow: yellow;
    --couleur_a: #aaa;
    --couleur_b: #bbb;
    --couleur_c: #ccc;
    --couleur_d: #ddd;
    --couleur_e: #eee;
    --couleur_f: #fff;
    
    --couleur_0: #000;
    --couleur_6: #666;

    --marginSmall: 0.25rem;
    --marginMedium: 0.5rem;
    --marginLarge: 1rem;

    --paddingSmall: 0.25rem;
    --paddingMedium: 0.5rem;
    --paddingLarge: 1rem;
    
    --radiusSmall: 0.25rem;
    --radiusMedium: 0.5rem;
    --radiusLarge: 1rem;
    --radiusCircle: 50%;
    
    --shadow_1a: 0 0 1rem #aaa;
    --shadow_2a: 0 0 2rem #aaa;
    --shadow_3a: 0 0 3rem #aaa;

    --shadow_16: 0 0 1rem #666;
    --shadow_26: 0 0 2rem #666;
    --shadow_36: 0 0 3rem #666;

    --shadow_10: 0 0 1rem #000;
    --shadow_20: 0 0 2rem #000;
    --shadow_30: 0 0 3rem #000;
}

/* --------------------------------------------------------------------------------------------------------- */

html { direction: rtl; font-size: 16px; padding: 0; margin: 0; }

/* --------------------------------------------------------------------------------------------------------- */


.actif, .active, .apprises, .a_apprendre {
    border-radius: var(--radiusSmall);
}
.actif, .active {
    background-color: rgb(255,255,0);
    font-weight: bold;
}
.active_2 { box-shadow: 0 0 1rem #222; background-color: #fff; color: black; }
.actif a, .active a {
    color: var(--couleur_flowerBlue);
    font-weight: bold;
}
.actif:active { background-color: #FFF000; box-shadow: none; }
.active:active { background-color: #FFF000; box-shadow: none; }
.actif:hover { background-color: rgb(225,225,0); }
.active:hover { background-color: rgb(225,225,0); }
.actif:hover a { color: blue; }
.active:hover a { color: blue; }
.a_apprendre { font-weight: bold; border: 1px solid #ddd; }
.a_apprendre:hover { background-color: var(--couleur_c); }
.anime_au_click { transition: 0.6s; }
.apprises { border: var(--border_c); color: var(--couleur_flowerBlue); }
.apprises a { color: var(--couleur_flowerBlue); }
.apprises:active { box-shadow: none; }
.apprises:hover { background-color: var(--couleur_a); color: black; }
.apprises:hover a { color: blue; }
.a_apprendre { background-color: var(--couleur_d); color: var(--couleur_a); }
.a_apprendre a { color:  #888; }
.a_apprendre:hover a { color: black; }
.asides_btn {
    display: inline-block;
    width: 48%;
    height: 3rem;
    background-color: var(--couleurPrimaire);
    border-radius: var(--radiusSmall);
    text-align: center;
}
.asides_btn:first-child { float: right; }
.asides_btn:last-child { float: left; }
.asides_btn a {
    position: relative;
    top: 0.5rem;
    margin: 0.5rem auto;
    color: black;
    font-weight: bold;
}
.aside_titre {
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    padding: 0;
    font-weight: bold;
    font-size: 2rem;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------- */

.border_blue { border: 0.5rem solid blue; }
.btn { 
    height: 1.5rem; 
}
.btn span:last-child { margin-right: 0.5rem; }
.btns { bottom: 0; }
.btns:active { box-shadow: none; }
.bulle {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    margin: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 0.5rem #ccc;
    border-radius: 3rem;
    transition: 0.4s;
}

/* --------------------------------------------------------------------------------------------------------- */


.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centergrid { margin: auto; }
.centertransform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerH { left: 50%; transform: translateX(-50%); }
.centerV { top: 50%; transform: translateY(-50%); }
.checkbox {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #eee;
    height: 16rem;
}
.checkbox tbody {  
    width: 100%; 
}
.checkbox_titre {
    background-color: #bbb;
    width: 100%;
    height: 1.5rem;
    padding-right: 0.5rem;
}
.checkbox_titre td { position: relative; width: 100%; }
.check_btn {
    display: block;
    min-width: 3rem;
    margin: 0;
    border-radius: var(--radiusSmall);
}
.check_btn_container {
    position: relative;
    background-color: #eee;
    height: 12rem;
    padding-right: 0.5rem;
    overflow: auto
}
.check_btn_container table { height: 12rem; }
.check_btn:hover {
    background-color: var(--couleurNeutre);
    box-shadow: var(--shadow_36);
}
.check_consonnes {
    position: relative;
    border: 1px solid transparent;
    border-right-color: #ddd;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #eee;
    height: 11rem;
}
.centrerX { left: 50%; transform: translateX(-50%); }
.centrerY { top: 50%; transform: translateY(-50%); }
.centrerXY {
    top: 50%;
    left: 50%;
    transform: translateXY(-50%,-50%);
}
.centercell { margin: auto; }
.centrer_parfait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cercle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0.5rem;
    color: #666;
    cursor: pointer;
    transition: 0.25s;
}
.cercle:active { box-shadow: none; }
.cercle_active { background-color: white; box-shadow: 0 0 1rem #444; }
.exercice_en_cours { background-color: yellow; box-shadow: 0 0 1rem #444; }
.cercle_depasse, .carre_depasse { background-color: white; box-shadow: none; }
.clavier_container {
    position: relative;
    height: 8rem;
    min-height: 4rem;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    background-color: #666;
    box-sizing: border-box;
    z-index: 1;
}
.clicker { transform-origin: 50% 0; animation: animate_hand 1.5s 1; }
.clignotant { animation: clignotant 0.15s 7; }
.coche::after {
    position: absolute;
    top: -30%;
    content: '✓';
    color: blue;
    rotate: y 180deg;
}
.container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
.correcteur { 
    position: relative;
    margin-left: 0.125rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: var(--couleurNeutre);
    border: 1px solid var(--couleurTertiaire);
    border-radius: var(--couleurTertiaire);
    box-shadow: 0 0 1rem #666; 
    padding: 0.125rem; 
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    float: left;
    transition: 0.2s; 
}
.correction_btn { cursor: pointer; }
.course {    
    position: relative;
    background: #fff;
    top: 3.5rem;
    width: calc(100vw - 1rem);
    max-width: 60rem;
    max-height: 45rem;
    margin: 0 auto;
    padding: 0.125rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem; 
    z-index: 0;
    overflow: auto;
}
.course_body, .course_head, .course_foot {
    position: relative; 
    margin: 0 auto;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
.course_body, .course_head {
    overflow-y: auto; overflow-x: hidden;
}
.course_body { 
    height: calc(100% - 10rem);
    color: white;
    background-color: rgba(0,0,0,0.8);
}
.course_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    overflow: auto;
    box-sizing: border-box;
    z-index: 0;
}
.course_foot { height: 3.5rem; background-color: #fff; border-radius: 0 0 0.5rem 0.5rem; }
.course_head { height: 6rem; background-color: #fff; }
.course_head div label {
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}
.cover {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 3rem;
    left: 0;
    height: calc(100% - 3rem);
    width: 100%;
}

/* --------------------------------------------------------------------------------------------------------- */


.dark_backgound { background-color: #aaa; }
.dialogue_btn {
    position: absolute;
    background-color: #fff;
    top: 0.25rem;
    width: 100%;
    height: 3rem;
    padding: 0;
    margin: 0.25rem auto;
    border-radius: var(--radiusMedium);
    font-weight: bold;
    transform: scale(0.9);
}
.dialogue_btn > div {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
del {
    text-decoration: line-through; 
    text-decoration-color: red; 
    text-decoration-thickness: 0.125rem;
}

/* --------------------------------------------------------------------------------------------------------- */

.enrober {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.etudie { background-color: white; }
.error_message { color: rgba(255,0,0,0.5); }
.evaluation_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.exercices { width: 80vw; }
.exercices_entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #aaa;
    padding: 0 1rem;
    width: 100%;
    height: 2rem;
    margin: 0;
    box-shadow: 0 1px 2px #666;
}
.exercices_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.evaluation { width: 80vw; }

/* --------------------------------------------------------------------------------------------------------- */

.faux {}
.fermeture, .fermeture_de_parent, .fermeture_note_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.fermeture:hover { background-color: #aaa; font-weight: bold; }
.fermeture_de_parent:hover { background-color: #aaa; font-weight: bold; }
.fermeture:active { background-color: #aaa; }
.fermeture_de_parent:active { background-color: #aaa; }
.fiche { position: relative; width: 100%; }
.fiche_entete, .fiche_corps, .fiche_foot { display: inline-block; vertical-align: top; border: 2px solid blue; min-height:1rem; position:relative; }
.fiche_entete {  position: relative; float: right; width: 15%; }
.fiche_entete table { width: 100%; }
.fiche_corps {
    position: relative;
    width: 75%;
    font-weight: bold;
    overflow: auto;
}
.fiche_corps td { width: 1.5rem; }
.fiche_foot {
    position: relative;
    float: left;
    width:10%;
    text-align: center;
}
.fiche_foot table { width: 100%; }
.fiche_titre { margin: 0; }
.fin_btn {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.fixe { position: fixed; }
.flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fond_blanc_casse { background-color: #666; }
.flowerblue { background-color: cornflowerblue; }
.fond_blanc { background-color: var(--couleurNeutre); }
.fond_jaune { background-color: yellow; }
.fond_noir_clair { background-color: #bbb; }
.fond_orange { background-color: orange; }
.fond_transparant { background-color: transparent; }

/* --------------------------------------------------------------------------------------------------------- */


.hand {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    top: 112px;
    left: 50%;
    font-size: 4rem;
    text-shadow: 16px 16px 8px #666;
}
.hauteur_adaptee::after {
    content: "";
    display: block;
    clear: both;
}
.hover_anim:hover {
    transform: scale(1.25);
    color: #000;
    background-color: #aaa;
    transition: 0.1s;
}

/* --------------------------------------------------------------------------------------------------------- */

.indexe { color: orangered; }
.indicateur { 
    background-color: yellow;
    box-shadow: 0 0 1rem #444; 
}
.indicateur::before {
    position: absolute;
    margin: 0;
    top: 100%;
    left: 50%;
    content: "➜";
    font-size: 2rem;
    color: blue;
    transform: rotate(-120deg);  
    animation: indexation 5s 0s infinite;
    z-index: 1;
}
.indicateur:hover::before { color: transparent; }
.images_container {
    position: relative;
    top: 48px;
    margin: 0;
    z-index: 0;
}
.image_card { display: inline-block; margin: 0; }
.images_titre {
    position: fixed; 
    top: 0; 
    left: 2%;
    width: 96%;
    margin:0; 
    background-color:white;
    overflow: auto;
    box-shadow: 0 0 16px #aaa;
    z-index: 1;
}

/* --------------------------------------------------------------------------------------------------------- */


.left { float: left; }
.lesson_active { background-color: yellow; box-shadow: 0 0 16px yellow; }
.lesson_active:active { background-color: #FFF000; }
.lessons_apprises {
    border: 1px solid transparent;
    box-shadow: 0 0 16px #ccc;
    text-shadow: 0 0 8px #000;
}
.lessons_apprises:active { background-color: #ddd; }
.lessons_apprises a { color: yellow; }
.lessons_a_apprendre { background-color: #ccc; }
.lessons_a_apprendre a { color: #aaa; }
.lesson_title {
    position: relative;
    padding: 0.5rem;
    margin: 0.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
}
.ligne_active {
    color: orange;
}
.liste_affichage_cascade { display: none; }
.liste_affichage_cascade li {
    position: relative;
    height: 0;
    display: none;
    transition: display 0.1s;
    transition: height 0.2s;
}
.long_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --------------------------------------------------------------------------------------------------------- */


.masqueur, .masqueur_de_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.25rem;
    text-align: center;
    background-color: #ccc;
    color: black;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.masqueur:hover { background-color: #aaa; font-weight: bold; }
.masqueur_de_parent:hover { background-color: #aaa; font-weight: bold; }
.masqueur:active { background-color: #aaa; }
.masqueur_de_parent:active { background-color: #aaa; }
.matiere { position: relative; }
.media {
    position: relative;
    top: 1.75rem;
    float: right;
    background-color: var(--couleurNeutre);
    height: 2.5rem;
    width: 4rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
    border: var(--border_c);
    border-radius: var(--radiusSmall);
    cursor: pointer;
}
.media_btns {
    position: absolute;
    display: none;
    right: 0;
    height: 6rem;
    width: 10rem;
    padding: 1rem;
    transform: scale(0.75);
    bottom: calc(100% + 0.5rem);
    overflow: hidden;
    background-color: var(--couleurNeutre);
    border-radius: var(--radiusSmall);
    box-shadow: var(--shadow_36);
    opacity: 0;
    transition: 1s;
}
.media_label {
    height: 2.5rem;
    line-height: 2.5rem;
}

/* --------------------------------------------------------------------------------------------------------- */


.nasalisations_btn_container input, .nasalisations_btn_container label { display: inline-block; vertical-align: middle; }
.nasalisations_btn_container label {
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    line-height: 8px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}
.nav_fleches_container {
    position: absolute;
    border: 2px solid transparent;
    border-top-color: #ccc;
    padding-top: 8px;
    height: 32px;
    width: 90%;
    left: 5%;
    bottom: 0;
}
.nav_fleches_container span {
    position: relative;
    width: 100px;
    height: 24px;
    border: 1px solid transparent;
    box-shadow: 0 0 32px #ccc;
    border-radius: 12px;
    text-align: center;
    transition: 0.15s;
}
.nav_fleches_container span:active { box-shadow: 0 0 1px #ccc; }
.nav_fleches_container span:nth-child(1) { float: right; }
.nav_fleches_container span:nth-child(2) { float: left; }
.neant { color: var(--couleur_a); }
.noir_clair { color: #000; background-color: #ddd; }

/* --------------------------------------------------------------------------------------------------------- */


.ombrage { box-shadow: 0 4px 43px #000; background-color: white; color: black; }
.opaque { animation: opacir0.6s 1; }
.oreille_icon_container {
    height: 1.5rem;
    line-height: 1.5rem;
    display: none;
}

/* --------------------------------------------------------------------------------------------------------- */


.page_body {
    position: relative;
    height: calc(100% - 3rem);
    z-index: 0;
    overflow: auto;
}
.page_body h4 { padding: 0 2rem 0 0; margin: 1rem 0; }
.page_foot {
    position: absolute;
    height: 0;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.page_head {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 100%;
    top: 0;
    z-index: 5;
}
.parametre {
    background-color: var(--couleurNeutre);
    margin: 0 auto;
    border-radius: var(--radiusSmall);
    cursor: pointer;
}
.parametres_container {
    position: absolute;
    display: none;
    left: 0;
    bottom: calc(100% + 0.5rem);
    margin: 0;
    padding: 0;
    box-shadow: var(--shadow_36);
    transition: 0.25s;
    z-index: 10;
}
.parametres_container .btn {
    margin: var(--marginSmall);
    border-radius: var(--radiusSmall);
}
.parametres_container .btn:hover { box-shadow: var(--shadow_3a); }
.parametres_btns {
    height: 2.5rem;
    line-height: 2.5rem;
}
.parametres_popup {
    position: relative;
    margin: 0;
    height: 60vh;
    max-height: 21rem;
    max-width: 35rem;
    background-color: var(--couleurNeutre);
    overflow: auto;
    z-index: 1000;
}
.parentgrid { display: grid; }
.parentcell { display: table-cell; vertical-align: middle; }
.diagram_circulaire {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: auto;
    rotate: y 180deg
}
.phases {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 1rem auto;
    width: 100%; 
    max-width: 50rem;
    padding: var(--paddingLarge);
    border-radius: var(--radiusSmall);
    box-sizing: border-box;
    box-shadow: 0 0 1.5rem #666;
    list-style: none;
}
.phases_container {
    position: relative;
    margin: 1.5rem 0;
}
.phases_container h2, .phases_container h4 {  padding: var(--paddingSmall); }
.phases_container h2 {
    height: 48px;
    width: 100%;
    line-height: 48px;
    border: 1px solid transparent;
    border-bottom: 1px solid #aaa;
}
.phases_container li {
    height: 3rem;
    margin: 0.125rem;
    line-height: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.phases ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 1rem;
}
.phases ul li {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    left: 0;
    margin: 0.25rem;
    padding: 0 1rem;
    text-align: right;
    font-weight: bold;
    border-radius: var(--radiusMedium);
    overflow: hidden;
    cursor: pointer;
}
.play_icon_container {
    height: 1.5rem;
    line-height: 1rem;
    border: 1px solid #aaa;
    border-radius: var(--radiusSmall);
    cursor: pointer; 
}
.ponctuations input, .ponctuations label { display: inline-block; vertical-align: middle; }
.ponctuations label {
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}
.popup {
    position: absolute;
    min-width: 10rem;
    min-height: 10rem;
    background-color: var(--couleurNeutre);
    transform: scale(0.75);
    opacity: 0;
    transition: 0.3s;
}
.pratique_tr_actif {
    position: relative;
    font-weight: bold;
    background-color: #228;
    border-right: 0.4rem solid #228;
    border-left: 0.4rem solid #228;
    width: 100%;
    left: 0.4rem;
}
.pratique_tr_actif span {
    background-color: yellow;
    color: orange;
}
.profile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    position: relative;
    margin: 0;
}
.profile_menu_head {
    height: 32px;
    width: 95%;
    line-height: 32px;
    text-align: right;
    margin: 0;
    padding: 0 8px;
    background-color: #eee;
    border: 1px solid transparent;
    border-bottom-color: #fff;
    border-radius: 6px;
}
.profile_menu_head a { text-decoration: none; }
.progress_bar {
    position: absolute;
    display: none;
    left: 0;
    top: 0.5rem;
    margin: 0;
    height: 3rem;
    width: calc(100% - 2px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: 1s;
}
.progress_bar span {
    position: absolute;
    top: 0;
    border-radius: 6px;
    right: 0;
    width: 0;
    transition: 0.6s
}
.lesson_progress_question_bar { background-color: #ddd; }
.lesson_progress_bonne_reponse_bar { background-color: yellow; }
.progress_bonne_reponse_bar, .progress_mauvaise_reponse_bar, .progress_question_bar {
    position: absolute;
    height: 3rem;
    width: 0;
    margin: 0;
    border-radius: 0.5rem;
    transition: 0.4s;
}
.progress_bonne_reponse_bar { background-color: rgba(255,255,0,0.6); z-index: 1; }
.progress_mauvaise_reponse_bar { background-color: rgba(0,0,0,0.25); z-index: 0; }
.progress_question_bar { background-color: #bbb; }

/* --------------------------------------------------------------------------------------------------------- */
.question_btn { cursor: pointer; }

/* --------------------------------------------------------------------------------------------------------- */
.repetition_btn { display: none; cursor: pointer; }
.right { float: right; }
.resultat_container {
    position: relative;
    display: none;
    top: -100%;
    width: calc(100vw - 1rem);
    max-width: 60rem;
    max-height: 45rem;
    height: calc(100% - 0.75rem);
    margin: 0 auto;
    padding: 0.125rem;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.5rem; 
    box-shadow: 0 0 1rem #444;
    z-index: 1;
}
.resultat {
    position: absolute;
    top: 1.6rem;
    background-color: #fff;
    width: calc(100% - 1rem);
    height: calc(100% - 1.5rem);
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}


/* --------------------------------------------------------------------------------------------------------- */

.shadow { box-shadow: 0 0 8px #aaa; }
.surbrillance { border: 1px solid yellow; color: yellow; }


/* --------------------------------------------------------------------------------------------------------- */

.table_parlante, .table_muette {
    position: relative;
    top: 1.5rem;
    width: calc(100% - 4rem);
    max-width: 45rem;
    margin: auto;
}
.table_parlante tr, .table_muette tr { position: relative; width: 100%; }
.table_parlante td, .table_muette td {
    position: relative;
    padding: 8px 0;
    font-weight: 900;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
}
.table_parlante td {  background-color: rgba(85,85,85,0.25); }
.table_muette td {  border: 1px solid #666; }
.transparent { animation: transperer; }
.travaux { 
    width: 100%;
    max-width: 50rem;
    margin: auto;
    border-top: 1px solid #bbb;
    vertical-align: top; 
    box-sizing: border-box;
    left: 0;
    overflow-y: auto;
}
.travaux_cadre { margin: 0 0 0.5rem 0; overflow: auto; }
.travaux table { border-collapse: collapse; }
.travail {
    position: relative;
    margin: 0.25rem;
    border-radius: var(--radiusSmall);
}
.travail:not(first-child) { margin-top: 0; }
.travail:not(last-child) { border-bottom-color: var(--couleurTertiaire); }
.travail_titre {
    padding: 0 1.5rem;
    background-color: var(--couleur_e);
}
.travail_titre:hover {
    background-color: #bbb;
}
.travail_content { 
    height: 1px; 
    border: 1px solid #aaa;
    border-top-width: 0.125rem;
    border-bottom-width: 0.25rem;
    color: #00A;
    padding: 0 1.5rem;
    background-color: var(--couleur_e);
    background-color: #fff;  
    overflow: auto; 
}
.travail_entete, .travail_corps, .travail_foot {
    padding: 0;
    margin: 1rem 0;
    display: inline-block; 
    vertical-align: top; 
}
.travail_corps td, .travail_foot td:last-child { text-align: center; }


/* --------------------------------------------------------------------------------------------------------- */

.vrais {
    background-color: #fff;
    min-width: 2rem;
    box-shadow: 0 0 1rem #aaa;
    animation: soulever 2s 1;
    overflow: visible;
}

/* --------------------------------------------------------------------------------------------------------- */


.wraped {
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
.wraped li:last-child { border-bottom-color: transparent; }
.wraped li { border-bottom-color: #ccc; }
.yellow_backgound { background-color: yellow; }

/* --------------------------------------------------------------------------------------------------------- */


.yellow { background-color: yellow; color: black; }

/* --------------------------------------------------------------------------------------------------------- */


@keyframes animate_hand {
    0% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
    20% { text-shadow: 0 0 0 #666; transform: scale(0.75); }
    40% { text-shadow: 0 0 0 #666; transform: scale(0.75); }
    60% { text-shadow: 8px 8px 8px #666; transform: scale(0.85); }
    80% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
    100% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
}
@keyframes clignotant {
    from{ box-shadow: 0 0 1rem #000; }
    to{ box-shadow: none; }
}
@keyframes indexation {

    0% { top: 100%; left: 50%; }
    2% { top: 120%; left: 55%; }
    4% { top: 100%; left: 50%; }
    6% { top: 120%; left: 55%; }
    8% { top: 100%; left: 50%; }
    10% { top: 120%; left: 55%; }
    12% { top: 100%; left: 50%; }
    14% { top: 120%; left: 55%; }
    16% { top: 100%; left: 50%; }
    18% { top: 120%; left: 55%; }
    20% { top: 100%; left: 50%; }
    22% { top: 120%; left: 50%; }
    24% { top: 100%; left: 50%; }
    100% { top: 120%; left: 50%; }
    100% { top: 100%; left: 50%; }
}
@keyframes descendre_doucement {
    from { line-height: 16px; opacity: 0; font-size: 0; }
    top { line-height: 56px; opacity: 1; font-size: 20px; }
}
@keyframes opacir {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes transperer {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes indicateur {
    from { box-shadow: none; }
    to { box-shadow: 0 0 1rem #444; }
}
@keyframes soulever {
    0%{ box-shadow: 0 0 0 #444; }
    10%{ box-shadow: 0 0 2rem #444; }
    90%{ box-shadow: 0 0 2rem #444; }
    100%{ box-shadow: 0 0 0 #444; }
}


@media screen and (width < 400px) {
    .cover { background-color: none; }
    .lesson_title { width: 96vw; margin: auto; }
    .parametres_popup { width: 80vw; }
    .phases {
        flex-direction: column;
        height: auto;
        padding: 1rem 0; 
        max-width: 30rem;
    }
    .phases li { width: 80%; }
    .course { height: calc(100% - 4.5rem); box-shadow: none; }
    .course_head, .course_body, .course_foot { 
        width: 98%;
        margin: auto;
        border: none;
    }
    .travaux { display: none; }
}
@media screen and (width >= 400px) {
    .cover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .parametres_popup {  width: auto; }
    .phases { 
        flex-direction: row;  
        height: 8rem;  
        padding: 1rem; 
        margin-bottom: 2rem;
    }
    .phases li {
        display: inline-block;
        width: 30%;
        min-width: 5rem;
        text-align: center;
    }
    .course { height: calc(100% - 4rem); box-shadow: var(--shadow_36); }
    .course_head, .course_body, .course_foot { 
        width: 100%; 
    }
    .travaux { display: block; }
}