:root{
    
    --borderPrimaire: 1px solid #aaa;
    --borderSecondaire: 1px solid cornflowerblue;
    --borderTertiaire: 1px solid yellow;
    
    --couleurPrimaire: cornflowerblue;
    --couleurSecondaire: yellow;
    --couleurTertiaire: #ddd;
    --couleurNeutre: #fff;

    --marginSmall: 0.25rem;
    --marginMedium: 0.5rem;
    --marginLarge: 1rem;

    --paddingSmall: 0.25rem;
    --paddingMedium: 0.5rem;
    --paddingLarge: 1rem;
    
    --radiusSmall: 0.25rem;
    --radiusMedium: 0.5rem;
    --radiusLarge: 1rem;
    --radiusCircle: 50%;
    
    --shadowPrimaire: 0 0 3rem #aaa;
    --shadowSecondaire: 0 0 1rem #aaa;
    --shadowTertiaire: 0 0 1rem #666;
    --shadowQuarternaire: 0 0 3rem #666;
}


html { font-size: 16px; direction: rtl; }
@media screen and (min-width: 601px) {
    .page_body { width: 70%; }
    .note_container { display: block; }
}
@media screen and (max-width: 600px) {
    .page_body { width: 100%; }
    .note_container { display: none; }
}



.actif, .active, .apprises, .a_apprendre {
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 1px 0;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
.actif, .active {
    border: 1px solid yellow; 
    background-color: yellow;
    font-weight: bold;
    box-shadow: 0 0 1rem yellow;
}
.actif:active { background-color: #FFF000; box-shadow: 0 0 1px yellow; }
.active:active { background-color: #FFF000; box-shadow: 0 0 1px yellow; }
.apprises, .a_apprendre { font-weight: normal; border: 1px solid #ddd; }
.apprises { color: yellow; text-shadow: 0 0 0.25rem #444; }
.apprises:active { box-shadow: 0 0 1px #fff; text-shadow: 0 0 1px #000; }
.apprises a { color: yellow; }
.a_apprendre { background-color: #bbb; }
.a_apprendre a { color: #999; text-shadow: none; }



.btns {    
    position: absolute;
    height: 2rem;
    bottom: 0;
}
.bulle {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    margin: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 0.5rem #ccc;
    border-radius: 3rem;
    transition: 0.4s;
}



.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centergrid { margin: auto; }
.centertransform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerH { left: 50%; transform: translateX(-50%); }
.centerV { top: 50%; transform: translateY(-50%); }
.checkbox {
    position: relative;
    display: inline-block;
    background-color: #eee;
    top: 0;
    min-width: 5rem;
}
.checkbox_titre {
    background-color: #bbb;
    width: 100%;
    height: 1.5rem;
    padding-right: 0.5rem;
}
.check_btn {
    display: block;
    min-width: 3rem;
    margin: 0;
    border-radius: var(--radiusSmall);
}
.check_btn_container {
    position: relative;
    background-color: #eee;
    height: 12rem;
    padding-right: 0.5rem;
    overflow: auto
}
.check_btn:hover {
    background-color: var(--couleurNeutre);
    box-shadow: var(--shadowQuarternaire);
}
.check_consonnes {
    position: relative;
    border: 1px solid transparent;
    border-right-color: #ddd;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #eee;
    height: 11rem;
}
.centrerX { left: 50%; transform: translateX(-50%); }
.centrerY { top: 50%; transform: translateY(-50%); }
.centrerXY {
    top: 50%;
    left: 50%;
    transform: translateXY(-50%,-50%);
}
.centercell { margin: auto; }
.centrer_parfait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clavier_container {
    position: absolute;
    bottom: 0;
    height: 8rem;
    min-height: 4rem;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    background-color: #666;
    border: 1px solid transparent;
}
.clicker { transform-origin: 50% 0; animation: animate_hand 1.5s 1; }
.container {
    position: fixed;
    margin: 0;
    padding: var(--paddingSmall);
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 100vw;
    direction: rtl;
}
.course {
    position: relative;
    border: 1rem solid white;
    top: 6rem;
    height: calc(95vh - 6rem);
    width: 95vw;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0;
    border-radius: 0.5rem;
    background-color: var(--couleurNeutre);
    box-shadow: var(--shadowQuarternaire);
    z-index: 0;
    transition: 0.6s;
}
.course_head, .course_body, .course_foot { position: absolute; }
.course_body {
    top: 1rem;
  /*la hauteur est calculée par la fonction dimensionnementDeCourseBody() dans lessons.js*/
    width: calc(100% - 2rem);
    margin: 0.25rem 1rem;
    border: var(--borderPrimaire);
    border-radius: var(--radiusSmall);
    background-color: rgba(0,0,0,0.7);
    color: var(--couleurNeutre);
    overflow: auto;
}
.course_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.course_foot {
    justify-content: space-around;
    align-items: center;

    width: 100%;
    bottom: 0;
    font-weight: bold;
}
.course_head {
    top: 0;
    height: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}
.course_head div {
    padding: 0 0.25rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0.25rem 0.5rem #000;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.course_head div label {
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}
.course_head div span:last-child {
    padding: 0 4px;
    margin: 0 4px;
    font-size: 1rem;
}
.cover {
    position: absolute;
    top: 3rem;
    left: 0;
    height: calc(100vh - 3rem);
    width: 100vw;
    background-color: #000;
}



.dark_backgound { background-color: #aaa; }
.dialogue_btn {
    padding: 0.5rem 5rem;
    margin: 0.125rem 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}



.error_message { color: rgba(255,0,0,0.5); }
.evaluation_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.exercices { width: 80vw; }
.exercices_entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #aaa;
    padding: 0 1rem;
    width: 100%;
    height: 2rem;
    margin: 0;
    box-shadow: 0 1px 2px #666;
}
.exercices_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.evaluation { width: 80vw; }

.fermeture, .fermeture_de_parent, .fermeture_note_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.fermeture:hover { background-color: #aaa; font-weight: bold; }
.fermeture_de_parent:hover { background-color: #aaa; font-weight: bold; }
.fermeture:active { background-color: #aaa; }
.fermeture_de_parent:active { background-color: #aaa; }
.fixe { position: fixed; }
.fond_blanc_casse { background-color: #666; }
.flowerblue { background-color: cornflowerblue; }
.fond_noir_clair { background-color: #999; }
.fond_orange { background-color: orange; }

.hand {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    top: 112px;
    left: 50%;
    font-size: 4rem;
    text-shadow: 16px 16px 8px #666;
}
.hauteur_adaptee::after {
    content: "";
    display: block;
    clear: both;
}
.hover_anim:hover {
    transform: scale(1.25);
    color: #000;
    background-color: #aaa;
    transition: 0.1s;
}

.images_container {
    position: relative;
    top: 48px;
    margin: 0;
    z-index: 0;
}
.image_card { display: inline-block; margin: 0; }
.images_titre {
    position: fixed; 
    top: 0; 
    left: 2%;
    width: 96%;
    margin:0; 
    background-color:white;
    overflow: auto;
    box-shadow: 0 0 16px #aaa;
    z-index: 1;
}



.left { float: left; }
.lesson_active { background-color: yellow; box-shadow: 0 0 16px yellow; }
.lesson_active:active { background-color: #FFF000; }
.lessons_apprises {
    border: 1px solid transparent;
    box-shadow: 0 0 16px #ccc;
    text-shadow: 0 0 8px #000;
}
.lessons_apprises:active { background-color: #ddd; }
.lessons_apprises a { color: yellow; }
.lessons_a_apprendre { background-color: #ccc; }
.lessons_a_apprendre a { color: #aaa; }
.lesson_progress_question_bar { background-color: #ddd; }
.lesson_progress_bonne_reponse_bar { background-color: yellow; }
.lesson_title {
    position: relative;
    padding: 0 16px;
    margin-bottom: 0 0 16px 0;
    height: 40px;
    line-height: 40px;
    border-bottom-color: #666;
}
.liste_affichage_cascade { display: none; }
.liste_affichage_cascade li {
    position: relative;
    height: 0;
    display: none;
    transition: display 0.1s;
    transition: height 0.2s;
}
.long_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.masqueur, .masqueur_de_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.25rem;
    text-align: center;
    background-color: #ccc;
    color: black;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.masqueur:hover { background-color: #aaa; font-weight: bold; }
.masqueur_de_parent:hover { background-color: #aaa; font-weight: bold; }
.masqueur:active { background-color: #aaa; }
.masqueur_de_parent:active { background-color: #aaa; }
.matiere { position: relative; }
.media {
    position: absolute;
    width: 10rem;
    height: 2rem;
    bottom: 0;
    right: 10%;
}
.media_btns {
    position: absolute;
    width: 10rem;
    height: 0;
    bottom: 2rem;
    overflow: hidden;
    transition: 0.25s;
}
.media_label {
    position: absolute;
    width: 10rem;
    bottom: 0;
}



.nasalisations_btn_container input, .nasalisations_btn_container label { display: inline-block; vertical-align: middle; }
.nasalisations_btn_container label {
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    line-height: 8px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}
.nav_fleches_container {
    position: absolute;
    border: 2px solid transparent;
    border-top-color: #ccc;
    padding-top: 8px;
    height: 32px;
    width: 90%;
    left: 5%;
    bottom: 0;
}
.nav_fleches_container span {
    position: relative;
    width: 100px;
    height: 24px;
    border: 1px solid transparent;
    box-shadow: 0 0 32px #ccc;
    border-radius: 12px;
    text-align: center;
    transition: 0.15s;
}
.nav_fleches_container span:active { box-shadow: 0 0 1px #ccc; }
.nav_fleches_container span:nth-child(1) { float: right; }
.nav_fleches_container span:nth-child(2) { float: left; }
.noir_clair { color: #000; background-color: #ddd; }
.note_container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-70%);
}
.note_titre { color: var(--couleurPrimaire) }
.note { margin: 0; }
.note p { color: var(--couleurNeutre); }
.note p a { 
    color: var(--couleurSecondaire); 
    text-decoration: none; 
    font-weight: bold; 
    border-bottom: var(--borderTertiaire);
}



.opaque { animation: opacir0.6s 1; }
.ombrage { box-shadow: 0 4px 43px #000; background-color: white; color: black; }



.page_body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: calc(100% - 3rem);
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    box-sizing: border-box;
    overflow: auto;
}
.page_foot {
    position: absolute;
    height: 0;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.page_head {
    margin: 0;
    height: 4.5rem;
    width: 100%;
    top: 0;
    z-index: 5;
}
.parametre {
    position: absolute;
    background-color: transparent;
    height: 2rem;
    width: 10rem;
    bottom: 0;
    left: 10%;
}
.parametres_container .btn {
    margin: var(--marginSmall);
    border-radius: var(--radiusSmall);
}
.parametres_container .btn:hover { box-shadow: var(--shadowTertiaire); }
.parametres_container {
    position: absolute;
    height: 17rem;
    width: 25rem;
    margin: 0;
    padding: 0;
    border-radius: var(--radiusSmall);
    box-shadow: 0 0 2rem black;
    transition: 0.25s;
    opacity: 0;
    z-index: 10;
}
.parametres_btns {
    position: relative;
    left: 16px;
    bottom: 0;
    background-color: var(--couleurNeutre);
    border: var(--borderPrimaire);
    height: 2rem;
    width: 10rem;
}
.parametres_popup {
    position: absolute;
    bottom: 0;
    margin: 0;
    min-width: 25rem;
    background-color: var(--couleurNeutre);
    left: 0;
}
.parentgrid { display: grid; }
.parentcell { display: table-cell; vertical-align: middle; }
.phases_container {
    position: relative;
    height: calc(100% - 32px);
    width: 80%;
    margin: auto;
    border-radius: 6px;
    padding: 8px;
}
.phases_container h2, .phases_container h4 {  padding: 0 16px; }
.phases_container h2 {
    height: 48px;
    width: 100%;
    line-height: 48px;
    border: 1px solid transparent;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
.phases ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    left: 10%;
}
.phases ul li {
    line-height: 32px;
    width: 100%;
    padding: 0 16px;
    margin: 1px 0;
    text-align: right;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}
.ponctuations input, .ponctuations label { display: inline-block; vertical-align: middle; }
.ponctuations label {
    border: 1px dashed #aaa;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}
.pratique_tr_actif {
    color: orange;
    font-weight: bold;
    background-color: yellow;
}
.profile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
    position: relative;
    margin: 0;
}
.profile_menu_head {
    height: 32px;
    width: 95%;
    line-height: 32px;
    text-align: right;
    margin: 0;
    padding: 0 8px;
    background-color: #eee;
    border: 1px solid transparent;
    border-bottom-color: #fff;
    border-radius: 6px;
}
.profile_menu_head a { text-decoration: none; }
.progress_bar {
    position: relative;
    margin-top: 0.125rem;
    padding: 0;
    height: 0.5rem;
    width: calc(100% - 2px);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 0.25rem #444;
    transition: 1s;
}
.progress_bar span {
    position: absolute;
    top: 0;
    border-radius: 6px;
    right: 0;
    width: 0;
    transition: 0.6s
}
.progress_bonne_reponse_bar, .progress_question_bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0.25rem;
    transition: 1s;
}
.progress_bonne_reponse_bar { background-color: yellow; }
.progress_question_bar { background-color: #bbb; }



.right { float: right; }



.shadow { box-shadow: 0 8px 8px #666; }
.surbrillance { border: 1px solid yellow; color: yellow; }



.table_parlante, .table_muette {
    position: relative;
    padding: 0.5rem;
    width: calc(100% - 1rem);
}
.table_parlante tr, .table_muette tr { position: relative; width: 100%; }
.table_parlante td, .table_muette td {
    position: relative;
    padding: 8px 0;
    font-weight: 900;
    font-size: 1.5rem;
    font-stretch: expanded;
    text-align: center;
    text-shadow: 0 0 2rem black;
    border-radius: 10%;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
}
.transparent { animation: transperer; }



.wraped {
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
.wraped li:last-child { border-bottom-color: transparent; }
.wraped li { border-bottom-color: #ccc; }
.yellow_backgound { background-color: yellow; }



.yellow { background-color: yellow; color: black; }



@keyframes animate_hand {
    0% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
    20% { text-shadow: 0 0 0 #666; transform: scale(0.75); }
    40% { text-shadow: 0 0 0 #666; transform: scale(0.75); }
    60% { text-shadow: 8px 8px 8px #666; transform: scale(0.85); }
    80% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
    100% { text-shadow: 16px 16px 16px #666; transform: scale(1); }
}
@keyframes descendre_doucement {
    from { line-height: 16px; opacity: 0; font-size: 0; }
    top { line-height: 56px; opacity: 1; font-size: 20px; }
}
@keyframes opacir {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes transperer {
    from { opacity: 1; }
    to { opacity: 0; }
}