
#clavier_nko {
    position: relative;
    height: 90%;
	width: 90%;
	margin: auto;
	color: #fff;
}
#clavier_nko table {
	border-collapse: collapse;
	width: 100%; 
	height: 100%;
	box-sizing:border-box;
}
#clavier_nko table tr td {
	box-shadow: 0 0 1em #000;
	background-color: #555;
    text-align: center;
    font-weight: bold;
	font-size: 1.5rem;
    cursor: pointer;
    text-shadow: 0 0 8px #000;
    min-height: 2rem;
}
#clavier_nko table tr td:not(.espace) { border-radius: 15%; }
#clavier_nko table tr td .espace { border-radius: 5%; }
#clavier_nko table tr td:active {
    background-color: #666;
    text-shadow: none;
    color: #000;
}
.espace, .boutons, .points, .apostrophes, .glisser, .tons {
	font-weight: bold;
	color: orange;
}
