#logo { display: none; }
#connexion_form {
    position: fixed;
    left: 35%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	max-width: 25rem;
	border: 1px solid var(--borderPrimaire);
	background-color: var(--couleurNeutre);
	border-radius: var(--radiusMedium);
	margin: 2*var(--marginLarge) auto;
	padding: var(--paddingLarge);
	box-sizing: border-box;
	direction: rtl;
}
#connexion_form h2 {
    margin: 1rem;
    padding: 0;
    text-align: center;
}
#connexion_form form { margin: 2rem auto; width: 100%; }
.input_box, #button_box {
	position: relative;
	margin: 1rem 0;
	height: 2rem;
    width: 100%;
}
.input_box {
    border: 1px solid transparent;
	border-bottom-color: #aaa;
	margin: 1rem 0;
}
.input_box:hover label { color: cornflowerblue; } 
.input_box input, 
.input_box label {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0 1rem; 
	height: 2rem;
	line-height: 2.5rem;
	overflow: auto;
	font-size: 1rem;
}
.input_box label { 
    color: #bbb;
    width: 0;
    overflow: visible;
    font-weight: bold;
	z-index: 0; 
}
.input_box input { 
	border-style: none;
	background-color: transparent;
	width: calc(100% - 2rem);
	cursor: pointer;
	z-index: 1; 
}
.input_box input:focus ~ label,
.input_box input:valid ~ label {
	top: -1.5rem;
	font-weight: normal;
	font-size: 0.5rem;
	color: cornflowerblue;
	transition: 0.6s;
}
#button_box { margin-top: 3rem; }
#button_box input { font-weight: bolder; }
#connexion_btn {
	padding: 1rem 0;
	height: 2rem;
	line-height: 0.5rem;
	width: 100%;
	background-color: #ccc;
	border-radius: 0.5rem;
	border-style: none;
	cursor: pointer;
}
#connexion_form button {
	position: absolute;
	width: 100%;
	padding: 0.5rem;
	margin: 0;
}