body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    direction: rtl;
}
.table_notes{
    margin: 16px 0;
    border: 1px solid #ddd;
}
.table_notes tr:nth-child(odd){
    background-color: #ddd;
}
.table_notes tr th, .table_notes tr td{
    padding: 0 8px;
}