
#evaluation { overflow: hidden; }

#evaluation_head {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#evaluation_head span {
    padding: 0;
    margin: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    width: 20%;
    height: 1.5rem;
    line-height: 1.5rem;
}

#evaluation_body {
    border: 0.5rem solid white;
    height: calc(100% - 3rem);
    color: white;
    box-sizing: border-box;
}
#evaluation_guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: #eee;
    box-sizing: border-box;
    z-index: 1;
}
#evaluation_reponse_container, #evaluation_image_container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#evaluation_reponse_container {
    background-color: white;
    transition: 0.4s;
    z-index: 1;
}
#evaluation_reponse, #evaluation_cross {
    position: absolute;
    font-weight: bold;
    font-size: 20rem;
}
#evaluation_reponse {
    left: 0;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#evaluation_foot {
    position: relative;
    margin: 0;
    padding: 0;
}

#evaluation_fiche {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: calc(100% - 14rem);
}
#evaluation_fiche_head, #evaluation_fiche_body, #evaluation_fiche_foot { position: relative; }
#pratique_fiche_head {
    padding: 0.25rem 0;
    margin: 0.125rem 0;
    border-bottom: 0.25rem solid #aaa;
}
#evaluation_fiche span { border: 1px solid transparent; }
#evaluation_fiche_head, #evaluation_fiche_body div, #evaluation_fiche_foot div {
    display: flex;
    flex-direction: row;
}
#evaluation_fiche_head span { font-size: 0.8rem; height: 1rem; }
#evaluation_fiche span:nth-child(1), #evaluation_fiche span:nth-child(2) { width: calc(40% - 1rem); padding-right: 0.5rem; }
#evaluation_fiche span:nth-child(3) { flex-grow: 1; text-align: center; }
#evaluation_fiche_body { 
    min-height: 1.5rem;
    margin: 0.125rem;
    padding: 0.25rem;
    height: calc(100% - 4rem);
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
    overflow: auto;
    transition: 0.6s;
}
#evaluation_fiche_body div {
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    border: 1px solid transparent;
    border-bottom-color: #fff;
}
#evaluation_fiche_body .tr:nth-child(odd) { background-color: var(--couleur_d); }
#evaluation_fiche_body .tr:nth-child(even) { background-color: var(--couleur_e); }
#evaluation_fiche_body span {
    margin: 0;
    padding: 0;
}
#evaluation_fiche_body span:nth-child(1), #evaluation_fiche_body span:nth-child(2) {
    text-align: right;
    width: calc(40% - 1rem);
}
#evaluation_fiche_body .affiche_reponse {
    margin: 0;
    border-left-color: var(--couleur_c);
    border-right-color: var(--couleur_c);
    overflow: hidden;
}
.affiche_reponse { right:0; }
#evaluation_fiche_body span:nth-child(3) { flex-grow: 1; text-align: center; }
#evaluation_fiche_foot {
    padding: 0.25rem 0;
    margin: 0.125rem 0;
    background-color: #fff;
    border-top: 0.25rem solid #aaa;
    transition: 0.6s;
}
#evaluation_fiche_foot div { margin: 0.125rem; }
#evaluation_fiche_foot span:nth-child(1) { 
    width: 80%;
    text-align:right; 
    font-size: 0.8rem;
}
#evaluation_fiche_foot span:nth-child(2) { 
    flex-grow: 1; 
    text-align:center; 
    border: 0.125rem solid #ddd;
    width: 25%;
    padding: 0;
}

#evaluation_dialogue_btn {
    position: relative;
    width: calc(100% + 2px - 7rem);
    top: calc(100% - 12.5rem);
    text-align: center;
    border-radius: var(--radiusLarge);
    border: var(--border_c);
    box-shadow: var(--shadow_1a);
}
#evaluation_dialogue_btn:active { box-shadow: none; }
#evaluation_image_container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 0;
    transition: 1.5s;
}
#evaluation_image_container img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#evaluation_message_de_fin_container {
    position: absolute;
    display: none;
    height: 7rem;
    width: 100%;
    padding: 0;
    margin: 0;
}
#evaluation_message_de_fin {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    margin: 12px auto;
    padding: 4px;
    height: 60px;
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
    box-sizing: border-box;
}
#evaluation_message_btn_container {
    position: absolute;
    bottom: 0;
    height: 24px;
    margin: 0 auto;
    width: 100%;
}
#evaluation_message_btn_container button {
    position: absolute;
    width: 45%;
    height: 24px;
    margin: 0;
    background-color: #ccc;
    border-radius: 8px;
}
#evaluation_message_btn_container button:first-child { right: 0; }
#fiche_mauvaise_reponse, #fiche_croix {
    position: absolute;
    padding-right: 1rem;
    margin: 0;
    width: calc(100% - 1rem);
}
#fiche_croix { color: rgba(255,0,0,0.5); }
#lesson_entete div { width: 160px; overflow: hidden; }
.stop_btn_container, .oreille_icon_container { display: none; }
#evaluation_head {
}
#evaluation_body { padding: 0; }
#evaluation_clavier_container { border-radius: var(--radiusSmall); }
#teste_container {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 8rem;
    width: 95%;
    height: calc(100% - 1rem);
}
#reponse {
    position: relative;
    height: 8rem;
    min-width: 8rem;
    line-height: 8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: bold;
}
#evaluation_cross {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgba(255,0,0,0.8);
    transform: scale(0.75);
    transition: 0.6s;
}
#check_mark_container {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow_3a);
}
#reponse, #check_mark_container { vertical-align: top; }
#check_mark, #check_mark_cover {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}
#check_mark{  color: blue; transform: rotateY(180deg); }
#check_mark_cover { left: 0; transition: 0.8s; background-color: var(--couleur_f); }
#teste_annexes_container {
    position: absolute;
    top: 0.25rem;
    padding: 0;
    margin: 0;
    vertical-align: top;
    height: 100%;
    width: 30%;
    left: 0;
}

@media screen and (orientation: portrait) {

    #evaluation_body, #evaluation_head, #evaluation_foot {
        position: relative;
        width: 96%;
        margin: auto ;
    }
    #evaluation_foot {
        height: 18rem; 
    }
    #evaluation_body { height: calc(100% - 20rem); }
    #evaluation_fiche { width: 100%; top: 0; }
    #evaluation_message_de_fin_container {
        top: calc(100% - 7rem);
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (orientation: landscape) {
    #evaluation_body, #evaluation_head, #evaluation_foot { position: absolute; }
    #evaluation_body {
        height: calc(100% - 4px);
        width: 52%;
        left: 0;
    }
    #evaluation_head, #evaluation_foot {
        width: 40%; 
        bottom: 1rem;
        right: 1rem;
    }
    #evaluation_foot { height: calc(100% - 3rem); border-radius: var(--radiusSmall); }
    #evaluation_fiche {
        top: 0;
        width: calc(100% - 1rem);
        left: 50%;
        transform: translateX(-50%);
    }
}