
#evaluation { overflow: hidden; }


#evaluation_head, #evaluation_body, #evaluation_foot {
    position: relative;
    width: 96%;
    max-width: 500px;
    margin: auto;
}


#evaluation_thead {
    height: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0.125rem 0;
    background-color: #ccc;
    border-bottom: 0.25rem solid #aaa;
    overflow: hidden;
}
#evaluation_thead span {
    position: relative;
    margin: 0 0.25rem;
    font-weight: bold;
    height: 1.5rem;
    line-height: 1.5rem;
}


#evaluation_tbody { 
    position: relative;
    background-color: #002;
    box-sizing: border-box;
}
#evaluation_tbody span {
    position: relative;
    background-color: #223;
    color: white;
    margin: 1px 0.125rem;
    height: 1.5rem;
}
#evaluation_guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: #eee;
    box-sizing: border-box;
    z-index: 1;
}
#clavier_evaluation { 
    position: absolute;
    bottom: 3.5rem;
    border-radius: 0 0 0.5rem 0.5rem; 
}
#evaluation_image_container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#evaluation_tbody_default_content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: larger;
    font-weight: bold;
    color: #666;
    text-align: center;
}


#evaluation_tbody {
    padding: 0;
    margin: 0.125rem 0;
    border: 0.5rem solid transparent;
    overflow: auto;
}
.evaluation_table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-color: #444;
    width: 100%;
}
#evaluation_thead, #evaluation_tbody div, #evaluation_tfoot div { display: flex; }
#evaluation_thead  .th:nth-child(1), #evaluation_thead  .th:nth-child(4) { width: 2rem; padding-left: 1rem; text-align: left; }
#evaluation_tbody  span:nth-child(1), #evaluation_tbody  span:nth-child(4) { width: 2rem; padding-left: 1rem; text-align: left; }
#evaluation_thead  .th:nth-child(2), #evaluation_thead  .th:nth-child(3) { width: calc((100% - 4rem)/2); padding-right: 0.5rem; text-align: right; }
#evaluation_tbody  span:nth-child(2), #evaluation_tbody  span:nth-child(3) { width: calc((100% - 4rem)/2); padding-right: 0.5rem; text-align: right; }
#evaluation_tfoot { 
    padding: 0.125rem;
    background-color: #ccc; 
    border-top: 0.25rem solid #aaa;
}
#evaluation_tfoot span { margin: 0.125rem; }
#evaluation_tfoot span:first-child { width: calc(100% - 3rem); padding-right: 0.5rem; text-align: right; }
#evaluation_tfoot span:last-child { 
    width: 3rem; 
    background-color: #002; 
    color: white;
    padding-left: 0.5rem; 
    text-align: left; 
}



#evaluation_reponse_container {
    position: relative;
    background-color: var(--couleur_6);
    border: var(--border_6);
    width: 100%;
    height: calc(100% - 2px);
    margin: auto;
    line-height: 100%;
    transition: 0.4s;
    z-index: 1;
}
#evaluation_reponse, #evaluation_cross {
    font-weight: bold;
}
#evaluation_reponse {
    position: relative;
    background-color: var(--couleur_6);
    color: var(--couleurNeutre);
    border-radius: 0.5rem 0.5rem 0 0;
    width: calc(75% - 1rem);
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
    padding-right: 1rem;
}
#bonne_reponse {
    margin: 0;
    height: 100%;
    line-height: 100%;
}
#correcteur_d_evaluation {
    position: relative;
    height: calc(100% - 2rem);
    width: calc(20% - 2rem);
    min-width: 3rem;
    font-size: 0.8rem;
    text-align: center;
    top: 1rem;
    background-color: var(--couleurNeutre);
    box-shadow: var(--shadow_16);
    border-radius: var(--radiusSmall);
    z-index: 0;
}
#bonne_reponse, #check_mark_container {
    display: inline-block;
    position: relative;
} 
#evaluation_reponse, #correcteur_d_evaluation {
    display: inline-block;
}
#evaluation_foot {
    padding: 0;
}
#evaluation_cross {
    display: none;
    width: 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    top: 0;
    right: 1rem;
    padding: 0;
    color: rgba(255,0,0,0.8);
    transform: scale(0.75);
    transition: 0.15s;
}
#mauvaise_reponse, #evaluation_cross {
    position: absolute;
    margin: 0;
    text-align: center;
}
#check_mark, #check_mark_cover {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
}
#check_mark{  color: blue; transform: rotateY(180deg); }
#check_mark_cover { transition: 1s; background-color: var(--couleur_f); }



#evaluation_fiche {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
}
#evaluation_fiche_head, #evaluation_fiche_body, #evaluation_fiche_foot { position: relative; }
#evaluation_fiche_head {
    padding: 0.25rem 0;
    margin: 0.125rem 0;
    border-bottom: 0.25rem solid #aaa;
}
#evaluation_fiche_head, #evaluation_fiche_body div, #evaluation_fiche_foot div {
    display: flex;
    flex-direction: row;
}
#evaluation_fiche_head span { font-size: 0.8rem; height: 1rem; }
#evaluation_fiche span:nth-child(3) { flex-grow: 1; text-align: center; }
#evaluation_fiche_body { 
    min-height: 1.5rem;
    margin: 0.125rem;
    padding: 0.25rem;
    height: calc(100% - 4rem);
    background-color: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
    overflow: auto;
}
#evaluation_fiche_body .tr {
    display: flex;
    flex-direction: row;
    height: 2rem;
}
#evaluation_fiche_body .tr:last-child { height: 0; }
#evaluation_fiche_body .tr:nth-child(odd) { background-color: var(--couleur_d); }
#evaluation_fiche_body .tr:nth-child(even) { background-color: var(--couleur_e); }
#evaluation_fiche_body span {
    margin: 0;
    height: 2rem;
    line-height: 2rem;
}
#evaluation_fiche_head .th:nth-child(1), #evaluation_fiche_head .th:nth-child(2) { width: 40%; padding-right: 0.5rem; }
#evaluation_fiche_head span:nth-child(3) { flex-grow: 1; text-align: center; }
#evaluation_fiche_body span:nth-child(1), #evaluation_fiche_body span:nth-child(2) {
    text-align: right;
    width: calc(40% - 1rem);
    padding-right: 1rem;
}
#evaluation_fiche_body .affiche_reponse {
    margin: 0;
    border-left-color: var(--couleur_f);
    border-right-color: var(--couleur_f);
    overflow: hidden;
}
.affiche_reponse { right:0; }
#evaluation_fiche_body span:nth-child(3) { flex-grow: 1; text-align: center; }
#evaluation_fiche_foot {
    padding: 0.25rem 0;
    margin: 0.125rem 0;
    background-color: #fff;
    border-top: 0.25rem solid #aaa;
    transition: 0.6s;
}
#evaluation_fiche_foot div { margin: 0.125rem; }
#label_total_point_d_evaluation, #total_point_d_evaluation { display: inline-block; }
#label_pourcentage_point_d_evaluation, #pourcentage_point_d_evaluation { display: inline-block; }
#label_total_point_d_evaluation, #label_pourcentage_point_d_evaluation { 
    margin: 0;
    padding: 0;
    vertical-align: top;
    height: 1.5rem;
    width: calc(80% - 0.25rem);
    text-align:right; 
    font-size: 0.8rem;
}
#total_point_d_evaluation, #pourcentage_point_d_evaluation { 
    margin: 0;
    padding: 0;
    border: 0.125rem solid #ddd;
    text-align:center; 
    height: 1.25rem;
    width: calc(20% - 0.25rem);
}

#evaluation_dialogue_btn {  
    bottom: 1rem;
    background-color: var(--couleurNeutre);
    box-shadow: var(--shadow_1a);
    box-sizing: border-box;
}
#evaluation_dialogue_btn:active { box-shadow: none; }
#evaluation_image_container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 0;
    transition: 1.5s;
}
#evaluation_image_container img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#evaluation_message_de_fin_container {
    position: absolute;
    display: none;
    height: 7rem;
    width: 100%;
    padding: 0;
    margin: 0;
}
#evaluation_message_de_fin {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    margin: 12px auto;
    padding: 4px;
    height: 60px;
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
    box-sizing: border-box;
}
#evaluation_message_btn_container {
    position: absolute;
    bottom: 0;
    height: 24px;
    margin: 0 auto;
    width: 100%;
}
#evaluation_message_btn_container button {
    position: absolute;
    width: 45%;
    height: 24px;
    margin: 0;
    background-color: #ccc;
    border-radius: 8px;
}
#evaluation_message_btn_container button:first-child { right: 0; }
#fiche_mauvaise_reponse, #fiche_croix {
    position: absolute;
    padding-right: 1rem;
    margin: 0;
    width: calc(100% - 1rem);
}
#fiche_croix { color: rgba(255,0,0,0.5); }
#lesson_entete div { width: 160px; overflow: hidden; }
.stop_btn_container, .oreille_icon_container { display: none; }
#evaluation_clavier_container { border-radius: var(--radiusSmall); }
#teste_container {
    position: relative;
    width: 100%;
    margin: 0;
    bottom: -2px;
}
#reponse {
    position: relative;
    height: 8rem;
    min-width: 8rem;
    line-height: 8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: bold;
}
#check_mark_container {
    display: none;
    background-color: var(--couleur_f);
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    top: 0.25rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow_36);
    z-index: 1;
}
#reponse, #check_mark_container { vertical-align: top; }
#teste_annexes_container {
    position: absolute;
    top: 0.25rem;
    padding: 0;
    margin: 0;
    vertical-align: top;
    height: 100%;
    width: 20%;
    left: 0;
}



#evaluation_foot { height: 16.5rem; bottom: 0; }
#evaluation_fiche_foot div:nth-child(2) { display: none; }
#teste_container {  height: calc(3.75rem - 2px); }
#evaluation_fiche { width: 100%; top: 0; }
#evaluation_message_de_fin_container {
    top: calc(100% - 7rem);
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (orientation: portrait) {
    #evaluation_body {
        height: calc(100% - 16rem);
    }
    .evaluation_table {  height: 100%; }
    #evaluation_tbody { height: calc(100% - 2rem); }    
    #evaluation_tfoot { display: none; }
}

@media screen and (orientation: landscape) {
    #evaluation_body {
        height: calc(100% - 17rem);
    }
    .evaluation_table {  height: calc(100% - 2rem);  }
    #evaluation_tbody { height: calc(100% - 4rem); }
}