
#table_alphabet_exercice {
    padding: 1rem;
    width: calc(100% - 2.25rem);
    overflow: hidden;
}
#table_alphabet_exercice td {
    font-size: 2rem;
}
#exercice_foot { height: 5rem; }
#exercice_dialogue_btn div  { 
    text-align: center; 
    padding: var(--0.25rem);
    margin: 0 auto; 
    box-sizing: border-box;
}
#exercice_dialogue_btn div:active {
    box-shadow: none;
}


@media screen and (orientation: portrait) {
    #exercices_player { border: 1px solid #aaa; }
}
@media screen and (orientation: landscape) {
    #exercices_player { border: 0; }
}