
#exercice_head, #exercice_body, #exercice_foot {
    position: relative;
    width: 100%;
    left: 0;
}
#exercice_body {
    border: 0.5rem solid white;
    height: calc(100% - 3rem);
    background-color: rgba(0,0,0,0.8);
    color: white;
    box-sizing: border-box;
}
#exercice_foot { height: 3rem; }
#exercice_dialogue_btn { border-radius: 0.5rem; }
#exercice_dialogue_btn div  { 
    text-align: center; 
    width: 15rem; 
    padding: var(--paddingSmall);
    border: var(--borderPrimaire); 
    border-radius: var(--radiusMedium);
    box-shadow: var(--shadow_16);
    margin: 0 auto; 
}
#exercice_dialogue_btn div:active {
    box-shadow: none;
}
#croix { color: red; }