body {
    margin: 0;
    padding: 0;
    font-family:Courier new, monospace;
 }
#index_haut_de_page {
    position: relative;
    background-color: #002;
    height: calc(100% - 30rem);
    max-height: 10rem;
    min-height: 10rem;
    width: 100%;
    max-width: 50rem;
    margin: 0.25rem auto;
    padding-top: 2rem;
    box-sizing: border-box;
}
#site_name {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 8rem;
    color: cornflowerblue;
    text-align: center;
}
 /* #image_d_accueil { 
    width: 30%; 
}
#image_d_accueil img { height: 100%; } */
#site_name {
}
#site_name h1 { height: 3rem; line-height: 3rem; font-size: 2.5rem; }
#site_name h3 { height: 1.5rem; line-height: 1.5rem; }
#site_name h1, #site_name h3 { 
    margin: 0.25rem 0; 
    width: 100%;
    max-width: 50rem; 
}
#asides_container { padding: 0 0.5rem; margin: auto; }
#asides_commentaire { 
    padding: 1rem; 
    width: 100%;
    max-width: 50rem;
    margin: 0.25rem auto;
    box-sizing: border-box;
}
#asides_container p, #btn_container { padding: 0; box-sizing: border-box; }
.pied_de_page { display: none; }
#affiche_de_tableau { display: none; }
.afficher { transform:scaleX(1); }
.cacher { transform:scaleX(0); }
#btn_container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 0 1rem; 
    max-width: 50rem;
    margin: 0.25rem auto;
    box-sizing: border-box;
    background-color: #eee; 
}
#pied_de_page { position:relative; width: 100vw; }

.page p, .page h1, .page h2, .page h3 { padding: 8px; }

.page h1 { background-color: #eee; border-bottom: 4px solid #aaa; }

.page h2, .page h3, .page h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
 }

.page p { margin: 0; font-weight: bold; }
.page table { margin: 0 0 16px 0; }

#dictionnaireCadre {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

#inscriptionCadre {
    display: none;
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
}

#pop {
	display: none;
	position: fixed;
	top: 15vh;
	left: 5vw;
	width: 600px;
	height: 0;
	max-width: 80vw;
	max-height: 600px;
	overflow: auto;
	border: 1px solid #ddd;
	box-shadow: 10px 10px 10px #555;
	background-color: #fff;
	opacity: 1;
	z-index: 1000;
}

#cadre_content { position: relative; top: 8px; }

#pop_content {
    position: relative;
    margin: 16px;
    padding: 4px;
    height:  63vh;
    text-align: justify;
    overflow: auto;
    background-color: #eee;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.evaluation { color: orange; }
.surbrillance {
    display: inline-block;
    padding: 0 6px;
    text-align: center;
    background-color: #ddd;
    font-weight: bold;
    border: 1px solid #ddd;
}
.active { background-color: #eee; }
.tableau_active { background-color: #222; }
.fixe { position: fixed; }
#zoom {
  padding: 50px;
  background-color: green;
  transition: transform .3s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom {
  transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.rotation{ transform:rotate(45deg); }
.g { width: 250px; height: 250px; }
.p { width: 0; height: 0; }
.triangle_down {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 12px solid black;
}

.triangle_up {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 12px solid black;
}

.triangle_right {
    width: 0;
    height: 0;
    border-left: 12px solid black;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.triangle_left {
    width: 0;
    height: 0;
    border-right: 12px solid black;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

button:active { background-color: #ccc; }
/* 
@media screen and (orientation: portrait) {
    #accueil_body { width: 100%; }
    #image_d_accueil, #asides_container {
        position: relative;
        display: block;
        left: 0;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
}
@media screen and (orientation: landscape) {
    #accueil_body { width: 80%; }
    #image_d_accueil, #asides_container {
        position: absolute;
        top: 5rem;
        display: inline-block;
        vertical-align: top;
    }
    #image_d_accueil {
        left: 0;
        width: 40%;
    }
    #asides_container {
        right: 0;
        width: 60%;
        margin: 0;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    
} */