#inscription_form{
    position: relative;
    width: 80%;
    top: 56px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 4px 16px #666;
	margin: 0 auto;
	padding: 0 16px;
	direction: rtl;
 } 
#inscription_form form{
	margin: 0;
 }
#inscription_form input:not(#submit_btn){
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    border-style: none;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
#inscription_form label{
    font-size: 14px;
    color: rgba(0,0,0,0.75);
}
#submit_btn{
    width: 100%;
    height: 24px;
    margin-top: 16px;
    background-color: #aaa;
    cursor: pointer;
}
