.course_body hr {
    border-color: #555;
}
#niveau_d_etude {
    display: none;
}
h4, .lesson_title { display: inline-block; }
#plus { 
    color: #555; 
    font-size: 2rem;
    font-weight: bold; 
}
#fleche i {
    font-size: 3rem;
    color: #555;
}
#table_parlante_1, #table_parlante_2, #table_parlante_3 {
    display: inline-block;
    width: max-content;
    height: calc(100vh - 22rem);
    padding: 0.5rem 1rem;
    border-radius: 0;
    vertical-align: top;
    overflow: auto;
}
#exercice_body, #zone_active { 
    vertical-align: middle;
}
#table_parlante_2 {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}
#table_parlante_1 div {
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: #555;
    border-radius: 50%;
    padding: 0.75rem;
    margin: 0.125rem;
    box-shadow: 0 0 0.25rem #000;
}
#table_parlante_2 span {
    min-width: 5rem;
}
#table_parlante_3 span {
    min-width: 8rem;
}
#zone_active {
    position: absolute;
    top: -14px;
    right: 3rem;
    width: 5rem;
    height: calc(100vh - 19rem);
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    border-radius: 0.5rem;
    background-color: black;
    transition: 0.3s;
}

@media(orientation: portrait) {
    .table_titre { display: none; }
    #fleche i {
        transform: rotate(90deg);
    }
}
@media(orientation: landscape) {
    .table_titre { display: block; }
    #fleche i {
        transform: rotate(180deg);
    }
}