
#lesson_parametres_glissiere{
    border-radius: var(--radiusSmall);
    margin: 0;
    box-sizing: border-box ;
    overflow: auto;
}
#table1{
    position: relative;
    height: 18rem;
    left: 0;
    margin: auto;
    padding: 0;
}
#table2 { position: relative; left: 0; }
#table2{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
#submit_btn{ width: 200px; border-radius: var(--radiusSmall); }