
#parametres_tableau  {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    height: 25%;
	background-color: #444;
	overflow: hidden;
	z-index: 15000;
}

#options_tableau {
    position:absolute;
    color: #fff;
    font-weight: bold;
    width: 25%;
    height: 80%;
    top: 10%;
    right: 5%;
    overflow: auto;
    z-index: 1;
}

		#options_tableau table {
			margin: 0;
			padding: 0;
			height: 100%;
		    list-style: none;
		}
		
		#options_tableau table tr {
		    background-color: #333;
		    width: 60%;
		    height: 10%;
		    padding: 20%;
		}
		
		#options_tableau table tr td { text-align: center; }
		#options_tableau table tr:active { background-color: #444; }
		
#details_parametres {
    position: absolute;
    width: 100%;
    height: 200%;

    overflow: auto;
    z-index: 0;
    transition: top 100ms;
}

#couleurs, #zoomer {
    position:relative;
    display:block;
    width: 60%;
    margin-right: 40%;
}

#couleurs {
    height: 45%;
	margin-top:5%; 
}

#couleurs #noir   { background-color: #222;    }
#couleurs #blanc  { background-color: #fff;    }
#couleurs #teal   { background-color: teal;    }
#couleurs #jaune  { background-color: yellow;  }
#couleurs #bleue  { background-color: #006699; }
#couleurs #orange { background-color: orange;  }

#couleurs td {
	margin: 0;
	padding: 0;
	text-align: center;
}

#couleurs td p {
	margin: 0;
	padding: 0;
	margin: 0 2em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

#zoomer { height: 50%; }
#zoomer p { 
	text-align: center; 
}

#plus, #moin {
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0 2em;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
}
