
#parametres_tableau  {
    position: absolute;
    display: none;
    direction: rtl;
    width: 80%;
    height: 15rem;
    max-width: 15rem;
    margin: auto;
    padding: 1rem;
	background-color: #444;
	border-radius: 0.5rem;
	
	left: 50%;
	transform: translate(-50%,35%);
}

#options_tableau {
    position:relative;
    top: 1.5rem;
    color: #fff;
    font-weight: bold;
    width: 12rem;
    overflow: auto;
    z-index: 1;
}

		#options_tableau table {
		    width: 100%;
			margin: 0;
			padding: 0;
		    list-style: none;
		}
		#options_tableau table {
		    background-color: #333;
		    border-radius: 0.5rem;
		}
		#options_tableau table tr {
		    width: 60%;
		    height: 10%;
		}
		#options_tableau table tr td { text-align:center; width:5rem; border-radius:0.5rem; }
		#options_tableau table tr:active { background-color: #444; }
		
#details_parametres {
    position: relative;
    left: 0;
    overflow: hidden;
    width: 12rem;
    z-index: 0;
    transition: 1s;
}
#glissiere_parametres_taleau {
    position: relative;
    top: 1.5rem;
    margin: 0;
    padding: 0;
    right: 0;
    width: 36.6rem;
    height: 12rem;
}

#details_parametres .detail {
    position: relative;
    display: inline-block;
    width: 12rem;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

#couleurs tr {
    border: 1px solid red;
    position: relative;
    width: 100%;
    
}

#couleurs td {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 6rem;
}

#couleurs td p {
    height: 2em;
    width: 2em;
	margin: 0.25em auto;
	padding: 0;
    border-radius: 50%;
	text-align: center;
}

#couleurs #noir   { background-color: #222;    }
#couleurs #blanc  { background-color: #fff;    }
#couleurs #teal   { background-color: teal;    }
#couleurs #jaune  { background-color: yellow;  }
#couleurs #bleue  { background-color: #006699; }
#couleurs #orange { background-color: orange;  }

#zoomer table, #weight table { 
    margin: 0;
    width: 100%;
}
#zoomer tr, #weight tr { 
    margin: 0;
    width: 100%;
}

#zoomer p, #weight p { 
    margin: auto;
	text-align: center; 
}

#plus, #moin, #bold, #normal {
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 0 2em;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
}

#bold { font-weight: bold; }
#normal { font-weight: normal; }