
#table1{
    position: relative;
    left: 0;
    padding: 0;
}
.check_btn {
    height: 1.5rem;
}
#table2 { position: relative; left: 0; }
#table2{
    margin: 0 auto;
    padding: 0;
    height: 2rem;
    text-align: center;
}
#checkbox_consonnes { width: 11rem; }
#checkbox_tedo { width: 5rem; }
#checkbox_voyelles { width: 5rem; }
#checkbox_tons { width: 6rem; }
#checkbox_nasalisation { width: 7rem; }
#submit_btn{ 
    width: 200px; 
    border: var(--borderPrimaire); 
    border-radius: var(--radiusSmall); 
}