
#pratiques_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    height: calc(100% - 2px);
    border: 1px solid transparent;
}
#pratiques_programme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-top: 16px;
    padding: 0;
    font-size: 0.75rem;
    box-shadow: 0 0 16px #bbb;
}
#pratiques_programme span:not(.actif) {
    background-color: #ccc;
    margin: 0 1px;
    padding: 0;
    height: 16px;
    width: 25%;
    text-align: center;
}
.actif { width: 25%; margin: 1px; height: 16px; }
#pratiques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 90%;
}
#pratiques_image_container {
    position: relative;
    margin-top: 16px;
    width: 0;
    height: 0;
}
#pratiques_image {
    width: 100%;
    font-size: 6rem;
    font-weight: bold;
    color: #ddd;
}
#pratiques_input_container {
    position: absolute;
    border: 1px solid transparent;
    background-color: #fff;
    border-top-color: #ccc;
    bottom: 16px;
    padding: 4px 0;
    height: 32px;
    width: 100%;
}
#pratiques_input {
    position: relative;
    bottom: 0;
    background-color: #eee;
    border-style: none;
    width: 90%;
    right: 5%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    padding: 0 16px;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
}

#pratique_options {
    position: absolute;
    border: 1px solid transparent;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: var(--radiusSmall);
    z-index: 2;
}
#pratique_options div { margin-top: 2rem; }
#pratique_options span {
    display: block;
    margin: 0.25rem; 
    width: 10rem; 
    height: 2rem;
    line-height: 2rem;
    cursor: pointer; 
}
#options_titre {
    background-color: #eee;
    border: 2px solid transparent;
    margin: 0 0 1rem 0;
    border-bottom: 0.25rem solid #ddd;
}
#pratique_head { position: relative; padding: 0; }
#pratique_head span {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
#pratique_body, #pratique_foot {
    position: relative;
    width: 96%;
    max-width: 32rem;
    margin: auto ;
}
#pratique_body {
    height: calc(100% - 18rem);
    border: 1px solid transparent;
}
#guide_container {
    width: 100%;
    background-color: #eee;
    border: var(--border_e);
    overflow-y: hidden;
    z-index: 1;
}
#pratique_guide {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 4px;
    background-color: #eee;
    box-sizing: border-box;
}
#reponse_container {
    position: relative;
    background-color: var(--couleur_f);
    margin: 0;
    height: 2.5rem;
    line-height: 2rem;
}
#bulles_container, #cumule_des_caracteres {
    margin-bottom: 0.25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#bulles_container .plus { color: #aaa; }
#pratique_guide span { vertical-align: middle; }
#cumule_des_caracteres {
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    margin: 0 0.25rem;
}
#correcteur_de_pratique { 
    bottom: 0.125rem;
}
#correcteur_de_pratique:active { box-shadow: none; }

 /*-------------------------------------------------------------------------------------------------------------------------------------*/

#pratique_table {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#pratique_thead, #pratique_tbody, #pratique_tfoot { position: relative; }
#pratique_thead, #pratique_tbody div, #pratique_tfoot div {
    display: flex;
    flex-direction: row;
}
#pratique_thead {
    padding: 0.25rem 0;
    background-color: #ccc;
    border: 0.5rem solid #ccc;
    border-bottom: 0.25rem solid #aaa;
}
#pratique_thead span { font-size: 0.8rem; height: 1rem; margin:  0 0.125rem; text-align: right; padding-right: 0.5rem; }
#pratique_thead span:first-child, #pratique_thead span:last-child { width: 2rem; padding-left: 0.5rem; }
#pratique_thead span:nth-child(2), #pratique_thead span:nth-child(3) { flex-grow: 2; padding-right: 0.5rem; }
#pratique_tbody {
    min-height: 3.5rem;
    margin: 0.125rem 0;
    padding: 0.5rem;
    background-color: #002;
    border: 1px solid #002;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.6s;
}
#pratique_tbody span {
    position: relative;
    background-color: #223;
    color: white;
    margin: 1px 0.125rem;
    height: 1.5rem;
}
#pratique_tbody span:first-child, #pratique_tbody span:last-child { width: 2rem; text-align: left; padding-left: 0.5rem; }
#pratique_tbody span:nth-child(2), #pratique_tbody span:nth-child(3) { width: calc((100% - 4rem)/2); text-align: right; padding-right: 0.5rem; }
#pratique_progress_bar {
    width: 100%;
}
#pratique_tfoot {
    padding: 0.25rem 0;
    background-color: #ccc;
    border: 0.5rem solid #ccc;
    border-top-width: 0.25rem;
    border-top-color: #aaa;
}
#pratique_tfoot div span:nth-child(1) { 
    width: calc(100% + 3rem);
    text-align:right; 
    padding-right: 0.5rem;
    font-size: 0.8rem;
}
#pratique_tfoot div span:nth-child(2) { 
    width: 3rem;
    text-align:left;
    padding-left: 0.5rem;
    font-weight: bold; 
    border: 0.125rem solid #cccc;
    background-color: #002;
    color: white;
}

 /*-------------------------------------------------------------------------------------------------------------------------------------*/


.affiche_question, .affiche_reponse {
    position: relative;
    text-align: right;
    width: 40%;
    padding-right: 0.5rem;
}
.affiche_reponse span {
    border-style: none;
}
.fiche_croix {
    position: absolute;
    padding-right: 0.5rem;
    text-align: center;
    font-weight: bolder;
    color: red;
    opacity: 0.6;
}
.fiche_croix {
    right: 0;
    border: none;
}
#pratique_clavier_container { 
    position: relative;
    border-radius: var(--radiusSmall); 
}
#pratiques_images_container {
    position: absolute;
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 0;
}
#pratiques_images_container img {
    position: absolute;
    height: calc(100% - 0.25rem);
    width: 100%;
    object-fit: contain;
    z-index: 0;
    transition: 1s;
}
#image_name {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 2rem;
    margin: 0;
    transform: translateX(-50%);
    background-color: #fff;
    border: 0.125rem solid transparent;
    border-bottom-color: #ccc;
    box-shadow: 0 0 4rem #eee;
    z-index: 1;
}
#image_croix {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    font-size: 10rem;
    color: red;
    opacity: 0.4;
    z-index: 1;
}
#pratique_travail_foot {
    border: 1px solid #ddd;
    border-top: 0.25rem solid #aaa;
}
#pratique_travail_foot div {
    position: relative;
    height: 1.5rem;
    margin: 0.125rem 0;
}
#pratique_travail_foot span:first-child { float: right; }
#pratique_travail_foot span:last-child {
    border: var(--border_c);
     width: 15%;
     text-align: center; 
    float: left; 
}

#message_de_fin_container {
    position: absolute;
    display: none;
    height: 6rem;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    overflow: hidden;
    z-index: 1;
}
#message_de_fin {
    background-color: #000;
    color: #fff;
    border-radius: 0.5rem;
    margin: 0.5rem auto;
    padding: 0.25rem;
    height: 3.75rem;
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
    box-sizing: border-box;
}
#message_btn_container {
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    margin: 0 auto;
    width: 100%;
}
#message_btn_container button {
    position: absolute;
    border: none;
    width: 45%;
    height: 1.5rem;
    margin: 0;
    background-color: #ccc;
    border-radius: 0.5rem;
}
#message_btn_container button:first-child { right: 0; }
#message_btn_container button:last-child { left: 0; }



#pratique_foot {  height: 17rem;  overflow: hidden; }
#foot_cadre {
    position: relative;
    height: calc(100% - 3.5rem);
    border: 1px solid transparent;
    border-bottom-width: 0.25rem;
    border-bottom-color: #aaa;
    margin-bottom: 0.5rem;
    overflow: hidden;
}
#image_name { display: none; }
#guide_et_clavier_container { 
    position: absolute; 
    height: calc(100% - 1.5rem);
    width: 100%; 
    top: 100%; 
    z-index: 1; 
    transition: 0.2s; 
}
#guide_container { position: relative;  height: calc(100% - 7rem); }
#image_croix { height: calc(100% - 4rem); }

@media screen and (orientation: portrait) {
    #pratique_dialogue_btn { border: 1px solid #aaa; }
    #pratique_tbody {  height: calc(100% - 3rem); }
    #pratique_tfoot { display: none; }
}

@media screen and (orientation: landscape) {
    #pratique_dialogue_btn { border: 0; }
    #pratique_tbody { height: calc(100% - 4rem); }
}