
@media(orientation: landscape) {
    #programmes_fond { box-shadow: var(--shadowQuaternaire); }
    #programme_matieres {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        height: 4rem;
    }
    #programme_ul li { display: inline-block; width: 8rem; }
}
@media(orientation: portrait) {
    #programmes_fond { box-shadow: none; }
    #programme_matieres { display: block; height: 10rem; }
    #programme_ul li {
        display: block;
        width: calc(90% - 2rem);
        margin: auto;
    }
}

#programmes_container {
    position: relative;
    max-width: 50rem;
    height: calc(90vh - 4rem);
    top: 2rem;
    margin: auto;
    padding: 1rem;
    background-color: var(--couleurNeutre);
    direction: rtl;
}
#programme_body span {
    display: inline-block;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: var(--radiusSmall);
    width: 4rem;
    text-align: center;
}
#programmes_container h1 {
    position: relative;
    border: 1px solid transparent;
    border-bottom-color: var(--couleurQuaternaire);
    margin: 2rem 0;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    font-size: 3rem;
}
#programme_ul {
    position: relative;
    padding: 0;
    list-style-type: none;
}
#programme_ul a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

#programme_matieres {
    position: absolute;
    width: calc(100% - 2rem);
    margin: auto;
    padding: var(--paddingSmall);
    border: 1px solid transparent;
    box-shadow: var(--shadowPrimaire);
}
#programme_commentaire {
    position: relative;
    width: calc(100% - 2rem);
    padding: 0 2rem;
}
#programme_commentaire p {
    position: relative;
    margin: 2rem 0;
}