
#programmes_container {
    position: relative;
    width: calc(100% - 2rem);
    max-width: 50rem;
    margin: auto;
    padding: 0px 1rem;
    background-color: var(--couleurNeutre);
    direction: rtl;
}
#programme_body span {
    display: inline-block;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: var(--radiusSmall);
    width: 4rem;
    text-align: center;
}
#programmes_container h1 {
    position: relative;
    border: 1px solid transparent;
    border-bottom-color: var(--couleurQuaternaire);
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
}
#programme_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: relative;
    width: 100%;
    padding: 0;
    list-style-type: none;
}
#programme_ul li {
    height: 3rem; 
    line-height: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}
#programme_ul a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#programme_matieres {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1rem auto;
    padding: var(--paddingSmall);
    border: 1px solid transparent;
    box-shadow: var(--shadow_1a);
}
#programme_commentaire p {
    position: relative;
    margin: 1rem 0;
    text-align: justify;
}


@media(orientation: landscape) {
    #programmes_fond { box-shadow: var(--shadowQuaternaire); }
    #programme_ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #programme_ul li { 
        width: 18%;
        margin: 0.5rem 0.25em;
    }
}
@media(orientation: portrait) {
    #programmes_fond { box-shadow: none; }
    #programme_ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #programme_ul li { 
        width: 80%;
        margin: 0.125rem auto;
    }
}