
#programmes_container {
    position: relative; 
    width: 80%;
    margin: auto; 
    border-radius: 6px;
    padding: 8px;
    direction: rtl;
    box-sizing: border-box;
}
#programmes_container h2 {
    position: relative;
    border: 1px solid transparent;
    padding: 0 32px;
    height: 48px;
    line-height: 48px;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 32px #ccc;
}
#programme_ul {
    position: relative;
    padding: 0;
    list-style-type: none;
}
#programme_ul a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}