#fermer_resultat {
    top: 3.5rem;
    z-index: 2;
    transform: scale(1.5);
}
.resultat_general h3 { margin: 1rem 0 0; }
#etudiant h1, #etudiant span { display:inline-block; margin: 0.25rem; }
#resultat_titre h3, #etudiant { margin: 0.125rem 0.5rem; }
#resultat_entete { 
    position: relative;
    border-bottom: 0.25rem solid #fff;
    box-shadow: 0 0.25rem 0.5rem #aaa;
    z-index: 1;
}
#resultat_entete table { width: 100%; }
#resultat_entete table h3 { border: 1px solid #aaa; border-bottom-width: 4px; padding: 0.25rem; }
#resultat_matieres_liste {
    position: relative;
    width: max-content;
    padding: 0;
    margin: 0 auto;
    z-index: 1;
    top: 0.5rem;
}
#resultat_matieres_liste ul { padding: 0; margin: 0; }
#resultat_matieres_liste li { 
    display: inline-block; 
    margin: 0 0.25rem;
    padding: 0.5rem 0.25rem;
    list-style: none;
    width: max-content;
    cursor: pointer;
}
#resultat_matieres_liste li:not(.li_actif) { 
    background-color: #eee;
    border-bottom: 0.125rem solid #aaa;
}
#resultat_matieres_liste li:not(.li_actif):hover {
    background-color: #ccc;
}
#resultat_matieres_liste li:not(.li_actif):active {
    background-color: #eee;
    box-shadow: none;
}
.li_actif { 
    position: relative;
    background-color: #bbb;
    border-bottom: 0.125rem solid #888;
    font-weight: bold;
}
#resultat_matieres_liste .li_actif::after {
    position: absolute;
    content: "\25B6";
    transform: rotate(90deg) scale(3);
    top: 2.75rem;
    left: 40%;
    color: #888;
}
#resultat_corps{
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    z-index: 0;
}
#resultat_corps > div { border-bottom: 1px solid #bbb; }
#resultat_pied {
    width: 100%;
    border-top: 0.25rem solid #fff;
    box-shadow: 0 -0.25rem 0.5rem #aaa;
}
#resultat_pied > div {
    position: relative;
    max-width: 45rem;
    margin: 0.5rem auto;
}
#resultat_pied > div > div {
    border: 1px solid transparent;
    border-bottom-color: #aaa;
    padding: 2px 2px 2px 8px;
    height: 1.3rem;
    width: calc(100% - 2rem);
}
#resultat_pied span { 
    display: inline-block; 
    height: 1rem;
    line-height: 1rem;
}
#resultat_pied td { text-align: left; font-weight: bold; border: 1px solid #ddd; }
#resultat_pied span:first-child { 
    text-align: right;
    border: none;
    min-width: 8rem;
    padding: 0 0.5rem;
}
#resultat_pied span:last-child { 
    border: 2px solid #aaa;
    min-width: 4rem;
    text-align: left;
    padding: 0 1rem;
    float: left;
}
#resultat_titre, #etudiant, #resultat_entete, #resultat_corps, #resultat_pied, #deliberation { padding: 0; }
#resultat_entete { width: 100%; margin: 0; z-index: 1; }
#resultat_titre_container { width: max-content; margin: auto; }
#resultat_titre, #etudiant, #resultat_corps, #resultat_pied, #deliberation { 
    position: relative;
    margin: 0 auto; 
}
#resultat_titre, #etudiant, #resultat_corps { max-width: 45rem; }
#deliberation {
    max-width: 100%;
    padding: 0.5rem;
    background-color: #ccc;
}
#recapitulatif_du_resultat { display: none; overflow: auto; }
#recapitulatif_du_resultat table { border-collapse: collapse; margin: 1rem auto; }
#recapitulatif_du_resultat table td { padding: 0.25rem; text-align: center; }
#recapitulatif_du_resultat table tr:first-child td:first-child { border-top-color: white; border-right-color: white; }
.bold { font-weight: bold; }
.thin { font-size: 0.8rem; }
.registre_des_notes {
    height: max-content;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
}
.registre_des_notes table {
    border: 1px solid #aaa;
    height: max-content;
    min-height: 10rem;
    display: inline-block;
    line-height: 10rem;
    margin: 0;
} 
.registre_des_notes td { height: 2rem; line-height: 2rem; }
.table_head, .table_body, .table_foot { vertical-align: top; }
.table_head td, .table_foot td { border: 1px solid transparent; background-color: #ccc; }
.table_head td { width: 5rem; }
.table_foot td { 
    width: 4rem; 
    text-align: left; 
    padding-left: 0.5rem;
}
.table_head { width: 5rem; }
.table_foot { width: 4rem; }
.table_body {
    width: calc(100% - 11rem);
    max-width: calc(100% - 9.5rem);
    overflow: auto
}
.table_body td {
    min-width: 1.5rem;
    text-align: center;
    border-color: #fff;
    border-radius: 0.5rem;
    background-color: #fff;
}
#avance, #reprendre { color: cornflowerblue; cursor: pointer; }
#avance a { color: cornflowerblue; text-decoration: none; }

@media(orientation: portrait) {
    #etudiant, #resultat_titre { display: block; }
    #resultat_matieres_liste ul li { top: 0; }
    #resultat_corps > div { width: 100%; padding: 0 0.5rem; }
    #resultat_entete { height: 10rem; }
}
@media(orientation: landscape) {
    #etudiant, #resultat_titre { display: inline-block; }
    #resultat_corps > div {  width: calc(100% - 4rem); padding: 0 2rem; }
    #resultat_entete { height: 8rem; }
}