#fermer_resultat {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    overflow: auto;
}
#etudiant, #resultat_titre { display: inline-block; }
.resultat_general h3 { margin: 1rem 0 0; }
#etudiant h1, #etudiant span { display:inline-block; margin: 0.25rem; }
#resultat_titre h3, #etudiant { margin: 0.125rem 0.5rem; }
#resultat_entete { 
    position: relative;
    background-color: #ccc;
    padding: 0.5rem;
    border-bottom: 0.125rem solid #aaa;
    z-index: 0;
}
#resultat_entete table { width: 100%; }
#resultat_entete table h3 { border: 1px solid #aaa; border-bottom-width: 4px; padding: 0.25rem; }
#resultat_matieres_liste {
    position: relative;
    width: max-content;
    padding: 0;
    margin: 0 auto;
    z-index: 1;
    top: 0.125rem;
}
#resultat_matieres_liste ul {
    padding: 0;
    margin: 0;
}
#resultat_matieres_liste li { 
    display: inline-block; 
    padding: 0.5rem 0.5rem;
    margin: 0;
    list-style: none;
    width: max-content;
    min-width: 5rem;
    cursor: pointer;
}
.li_actif { 
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 0.125rem solid #aaa;
    border-bottom-color: #fff;
}
#resultat_corps{
    max-height: calc(100vh - 21rem);
    overflow-y: auto;
}
#resultat_corps > div {
    border-bottom: 1px solid #bbb;
    width: calc(100% - 2rem);
    padding: 0 1rem;
}
#resultat_pied{
    position:relative;
    height: 5rem;
}
#resultat_pied > div {
    position: relative;
    width: 100%
}
#resultat_pied > div > div {
    border: 1px solid transparent;
    border-bottom-color: #aaa;
    padding: 2px 2px 2px 8px;
    height: 1.3rem;
}
#resultat_pied span { 
    display: inline-block; 
    height: 1rem;
    line-height: 1rem;
}
#resultat_pied td { text-align: left; font-weight: bold; border: 1px solid #ddd; }
#resultat_pied span:first-child { 
    text-align: right;
    border: none;
    min-width: 8rem;
    padding: 0 0.5rem;
}
#resultat_pied span:last-child { 
    border: 2px solid #aaa; 
    min-width: 2.5rem; 
    text-align: left;
    padding: 0 0.5rem; 
    float: left;
}
#resultat_titre, #etudiant, #resultat_entete, #resultat_corps, #resultat_pied, #deliberation {
    padding: 0;
}
#resultat_entete {
    width: 100%;
    margin: 0;
}
#resultat_titre_container {
    width: max-content;
    margin: 0 auto 1rem;
}
#resultat_titre, #etudiant, #resultat_corps, #resultat_pied, #deliberation {
    margin: 0 auto;
}
#resultat_titre, #etudiant, #resultat_corps, #resultat_pied {
    max-width: 45rem;
}
#deliberation {
    max-width: 100%;
}
#recapitulatif_du_resultat {
    display: none;
    overflow: auto;
}
#recapitulatif_du_resultat table {
    border-collapse: collapse;
    margin: 1rem auto;
}
#recapitulatif_du_resultat table td {
    padding: 0.25rem;
    text-align: center;
}
#recapitulatif_du_resultat table tr:first-child td:first-child {
    border-top-color: white;
    border-right-color: white;
}

.bold { font-weight: bold; }
.thin { font-size: 0.8rem; }
.registre_des_notes {
    height: max-content;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
}
.registre_des_notes table {
    border: 1px solid #aaa;
    height: max-content;
    display: inline-block;
    margin: 0;
} 
.registre_des_notes td {
    height: 2rem;
    line-height: 2rem;
}
.table_head, .table_body, .table_foot { vertical-align: middle; }
.table_head td, .table_foot td {
    border: 1px solid transparent;
    background-color: #ccc;
}
.table_head td { width: 5rem; }
.table_foot td { 
    width: 4rem; 
    text-align: left; 
    padding-left: 0.5rem;
}
.table_head { width: 5rem; }
.table_foot { width: 4rem; }
.table_body {
    width: calc(100% - 11rem);
    max-width: calc(100% - 9.5rem);
    overflow: auto
}
.table_body td {
    min-width: 1.5rem;
    text-align: center;
    border-color: #fff;
    border-radius: 0.5rem;
    background-color: #fff;
}
#deliberation {
    padding: 0.5rem;
    background-color: #ccc;
}
#avance, #reprendre {
    color: cornflowerblue;
    cursor: pointer;
}
#avance a { color: cornflowerblue; text-decoration: none; }

@media(orientation: portrait) {
    #resultat_matieres_liste ul li { 
        top: 0;
    }
}
@media(orientation: landscape) {
    #resultat_matieres_liste {
        top: 0.125rem;
    }
}