#body{
	margin: 0;
	padding: 0;
	direction: rtl;
}





#tableau_form {
	margin: 0;
	padding: 0;
	overflow:auto;
}

#tableau_noir, #cadre_memoire, #cadre_smartboard, #cadre_assistant, #clavier_tableau {
}

#tableau_noir {
    margin: 0;
	padding: 5%;
	color: #fff;
	border-style: none;
	background-color: #222;
	font-weight: bold;
	font-size: 2rem;
	direction: rtl;
	overflow: auto;
}

#cadre_memoire {
    left: -60vw;
    overflow: auto;
}

#cadre_assistant {
    display: block;
}

#cadre_smartboard {
    display: none;
    margin: 0;
    padding: 0;
    right: 5%;
    color: #fff;
    max-height: 12em;
}

#clavier_tableau {
    display: none;
    background-color: #444;
    margin: auto;
    height: 28vh;
    transition: transform 0.4s;
}

#fermer_clavier {
    position: relative;
    display: block;
    height: 1em;
    width: 1em;
    color: #fff;
    margin: 0.25em 0.5em 0 ;
    padding: 0.25em;
    line-height: 1em;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#fermer_clavier:hover{
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

.outils ils {
}

#btnCadre{
	position: relative;
	width: 4em;
	margin: auto;
	padding: 1em;
}

#btnComandes{
	position: absolute;
	background-color: #000;
	height: 1.75em;
	padding: 0;
	margin: 0;
	bottom: 0;
}


#btnCadre button{
	position: relative;
	margin: 0.25em;
	border: 1px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	color: #fff;
	background-color: #555;
	font-weight: bold;
}

#table_de_mots{
	display: none;
	position: absolute;
	bottom: 150px;
	left: 0;
	min-width: 200px;
	min-height: 250px;
	background-color: teal;
	margin: 32px;
	padding: 16px;
}