
#tete_de_page_container{
    position: absolute;
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: 1000;
}

#header{
    position: relative;
    height: 1.5rem;
    line-height: 2rem;
    width: calc(100% - 1rem);
    font-size: 0.75rem;
    margin: 0 auto;
    padding-right: 3rem;
    box-sizing: border-box;
}
#topbar{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
	height: 3rem;
}

#logo {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -0.5rem;
    left: 2rem;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0 6px #666;
	overflow: hidden;
	background-color: #fff;
	z-index: 1;
}
#logo img { width: 80px; }
#nav{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
	border-radius: 0.25rem;
	background-color: #005580;
	z-index: 0;
}
#modifier_avatar {
    background-color:#fff; 
    border:1px solid #ccc; 
    overflow:hidden; 
    position:absolute; 
    right:50%; 
    transform:translateX(50%); 
    bottom:0; 
    border-radius:6px; 
    font-size:10px; 
    padding:4px;
}
.afficher { display:block; }

@media (min-width: 801px) {
    #nav {
        display: flex;
        flex-direction: row;
    }
    #menu_deroulant, #menu_non_deroulant {
        display: inline-block;
    }
    
	#nav li {
	    position: relative;
	    display: inline;
		overflow: auto;
		cursor: pointer;
		border-radius: 0c.25rem;
		padding: 0.25rem;
		margin: 0 0.5rem;
	}
	
    #menu_deroulant {
        margin: 0;
        height: 100%;
        width: 75%;
        float: right;
    }
    #nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

	    height: 100%;
        max-width: 20rem;
    }
	#nav a {
		text-decoration: none;
		color: rgba(0,0,0,0.75);
		font-size: 0.8rem;
	}
	
	#menu_non_deroulant {
        flex-grow: 1;
	    padding: 0;
	    height: 100%;
	    line-height: 3rem;
	    margin-left: 10rem;
	}
    #menu_deroulant ul {
        width: 100%;
        margin: 0 5%;
    }
    #menu_non_deroulant ul {
        margin: 0;
    }

	#menu_non_deroulant ul #menu_menu { display: none; }
}
@media (max-width: 800px) {

	#menu_deroulant {
	    position: absolute;
	    display: none;
	    width: 100%;
	    margin: 0;
	    padding: 0.25rem;
	    top: 3.5em;
	    right: 0;
	    background-color:#eee;
		list-style-type:none;
		font-size: 0.8rem;
		box-shadow: 0 0 2rem #aaa;
		overflow: hidden;
	}
	#menu_deroulant ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	#menu_deroulant li {
	    padding: 0 1rem;
		margin: 2px;
		height: 2em;
		line-height: 2rem;
		background-color:#fff;
	}
	#menu_deroulant li:active { background-color: #888; }
	#menu_deroulant li a { 
	    color: #444; 
	    text-decoration: none;
	}
	
	#menu_non_deroulant {
	    height: 100%;
	    width: 75%;
	    padding: 0 2rem;
	    box-sizing: border-box;
	}
	#menu_non_deroulant ul {
	    display: flex;
	    flex-direction: rows;
	    justify-content: space-between;
	    align-items: center;
	    
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	#menu_non_deroulant ul li {
	    display: inline-block;
	    border-radius: 0.5rem;
	    height: 2rem;
	    line-height: 2rem;
	    width: 30%;
	    margin: 0.5rem;
	    padding: 0 1rem;
        font-size: 0.8rem;
	    text-align: center;
	    box-sizing: border-box;
	}
	#menu_non_deroulant a {
        text-decoration: none;
        color: #000;
    }
	#nav_outils, .nav_menu { display:inline-block; }
	#nav_outils { float:left; width:30%; }
    #nav_outils li { display:inline-block; }
}

#profile_menu_container {
    position: absolute;
    border: 1px solid transparent; 
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #ccc;
    width: 100%;
    max-width: 500px;
    margin: 2rem 0;
    padding: 0.5rem;
    top: 3rem;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    display: none;
    direction: rtl;
    overflow: hidden;
    z-index: 1000;
}
#profile_entete ul {
    direction: rtl;
    list-style: none;
}
#profile_entete a {
    text-decoration: none;
}
#profile_teste_menu {
    display: none;
    height: 0;
    width: 100%;
    overflow: auto;
    transition: height 0.25s;
}
#profile_teste {
    position: absolute;
    display: none;
    direction: rtl;
    width: 94vw;
    top: 80px;
    left: 3vw;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #666;
    transform: scale(0.6);
    z-index: 1010;
    transition: 0.3s;
}
#profile_email {
    display:inline-block; 
    width:180px;
}
.matiere_menu {
    display: inline-block;
    width: 40%;
    margin: 0 16px;
    vertical-align: top;
}
#liste_des_matieres_apprises, #liste_des_matieres_a_apprendre {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    text-align: right;
    overflow: auto;
    height: 120px;
}
.matiere_menu h3 {
    margin: 8px 0 0;
    padding: 0 16px;
    text-align: right;
}
.matiere_menu ul {
    position: absolute;
    top: 0;
    padding: 0 16px;
    margin: 8px 0;
}
.rien{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 50%;
    top: 50%;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0.12;
    transform: translate(50%, -50%);
}

#profile_teste_menu p{
    margin: 0;
    padding: 0 32px;
    height: 24px;
    line-height: 24px;
}
#profile_teste_content{
    background-color: #fff;
    height: 70vh;
    margin: 0;
    padding-top: 32px;
    box-sizing: border-box;
}
#fermeture_affiche{
    position: absolute;
    margin: 4px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    top: 0;
}
#profile_table_container {
    width: 96%;
    margin: auto;
    overflow: hidden;
}
#affiche_table{
    position: relative;
    display: block;
    border-collapse: collapse;
    height: 42vh;
    overflow: hidden;
}
#teste_switcher span, #teste_switcher table { display: inline-block; }
#teste_switcher table{
    position: relative;
    top: 4px;
    padding: 0;
    margin: 0 16px;
}
#teste_switcher td {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 4px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
}
#profile_teste_thead, #profile_teste_tbody, #profile_teste_tfoot {
    display: block;
    box-sizing: border-box;
}
#affiche_table td, #affiche_table th{
    display: inline-block;
    padding: 0;
    height: 24px; 
    width: 75px;
    text-align: center;
}
#affiche_table tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#profile_teste_thead th, #profile_teste_tfoot td{ 
    top: 0;
    margin: 0.5px;
    background-color: #aaa; 
}
#affiche_table tr:nth-child(even){ background-color: #eee; }
#profile_teste_tbody{
    top: 26px;
    height: calc(42vh - 52px);
    overflow: auto;
}
#profile_teste_tfoot{
    bottom: 0;
}
#profile_teste_tfoot tr td:first-child {
    width: 228px;
    padding: 0 16px;
    text-align: right;
}

#profile_utilisateur_container{
    position: relative;
    display: none;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0.25s;
    z-index: 1005;
}
#profile_utilisateur_renseignements, #profile_utilisateur_image_container{
    position: absolute;
    display: inline-block;
    margin: 4px;
    height: 172px;
    border-radius: 6px;
    vertical-align: top;
}
#profile_utilisateur_renseignements{
    right: 0;
    width: 60%;
    text-align: right;
    z-index: 1;
}
#profile_utilisateur_renseignements div span:first-child{
    display: inline-block;
    width: 48px;
    font-size: 12px;
}
#profile_utilisateur_renseignements div span:last-child{
    font-size: 0.75rem;
    font-weight: bold;
}
#profile_utilisateur_image_container{
    left: 0;
    width: 60%;
    z-index: 0;
}
#profile_utilisateur_image_container img{
    right: 0;
}