.travail_titre h3 { width: 10rem; }
 #travaux_container { position: relative; }

.travail_entete { right: 0; width: 4.5rem; overflow: auto; }
.travail_corps { 
    position: relative;
    width: calc(100% - 2px - 9rem); 
    border: 1px solid transparent;
    border-right-color: #aaa;
    border-left-color: #aaa;
    overflow: auto; 
}
.travail_name {
    margin-top: 0.5rem;
}
.travail_corps_table { position: relative; top: 0; font-weight: bold; }
.travail_foot { left: 0; width: 3rem; overflow: auto; }
.travail_titre h3, .bulles_container { display: inline-block; vertical-align: middle; }
.travail td { min-width: 2rem; }
.bulles_container { width: calc(100% - 12rem); height: 3rem; overflow: auto; }
.bulles_container .bulles_glissiere { width: 16rem; height: 3rem; }
.bulles_container p { 
    position: relative;
    display: inline-block; 
    margin: var(--marginSmall);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    border: var(--border_b);
    border-radius: 50%;
    cursor: pointer;
}
.bulles_container p:hover { 
    background-color: white;
    box-shadow: 0 0 0.5rem #444; 
    color: black; 
}
.bulles_container p:not(.cercle_actif) { color: #999; }
.cercle_actif  { 
    background-color: white;
    box-shadow: 0 0 0.5rem #444; 
    color: black; 
}