.travail_titre h3 { 
    width: 10rem;
 }
.trava
.travail_entete { right: 0; width: 4.5rem; overflow: auto; }
.travail_corps { 
    position: relative; 
    padding: 0; 
    margin: 0;
    width: calc(100% - 2px - 9rem); 
    border: var(--border_6);
    overflow: auto; 
}
.travail_corps_table {
    position: relative;
    top: 0;
}
.travail_foot { left: 0; width: 3rem; overflow: auto; }
.travail_entete, .travail_corps, .travail_foot { 
    margin: 0;
    padding: 0;
    display: inline-block; 
    vertical-align: top; 
}
.travail_titre h3, .ordres_de_travail { display: inline-block; vertical-align: middle; }
.travail td { min-width: 4rem; }
.ordres_de_travail { 
    width: calc(100% - 12rem);
    overflow: auto;
}
.ordres_de_travail .ordres_glissiere { width: 16rem; }
.ordres_de_travail p { 
    position: relative;
    display: inline-block; 
    margin: var(--marginSmall);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #eee;
    color: var(--couleur_a);
    border: var(--border_b);
    border-radius: 50%;
    cursor: pointer;
}
.ordres_de_travail p:hover { box-shadow: 0 0 0.5rem #666; color: black; }
.cercle_actif  { box-shadow: 0 0 0.5rem #666; color: black; }